
@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script src="~/Content/js/validate/jquery.validate.min.js"></script>
<script>
    $(function() {
        $('.wrapper').height($(window).height() - 11);
    });
</script>
<div class="wrapper">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#a" data-toggle="tab" style="font-size:20px;"><b>修改密码</b></a></li>
    </ul>
    <form id="form1">
        <div id="a" class="tab-pane active" style="padding: 15px;">
            <ul class="pop-list">
                <li>
                    <label>旧密码</label>
                    <input id="oldpassword" name="oldpassword" type="password" class="form-control"  />
                </li>
                <li>
                    <label>新密码</label>
                    <input id="newpassword" name="newpassword" type="password" class="form-control" />
                </li>
                <li>
                    <label>确认密码</label>
                    <input id="confirmpassword" name="confirmpassword" type="password" class="form-control" />
                </li>

            </ul>
        </div>
        <div style="padding-left: 20px;">
            <input class="btn btn-primary" type="submit" value="提交">
        </div>
    </form>
</div>
<script>
    $().ready(function () {
        $("#form1").validate({
            rules: {
                oldpassword: "required",
                newpassword: {
                    required: true,
                    minlength: 5
                },
                confirmpassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#newpassword"
                }
            },
            messages: {
                oldpassword: "请输入您的当前密码",
                newpassword: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母"
                },
                confirmpassword: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 5 个字母",
                    equalTo: "两次密码输入不一致"
                }
            }
        });
    });
</script>
