
@{
    ViewBag.Title = "密码找回-修改新密码";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}
@section styles{
    <link rel="stylesheet" href="/Content/Css/user.css?v=@ViewBag.Version" media="all">
}
<div class="fdx_nav">
    <div class="find_tab clearfix">
        <h4 class="find_li1 current"><a href="index.html">通过绑定的手机号找回</a></h4>
    </div>

    <div class="find_content">

        <!-- 进度条  S -->
        <div class="fdx_pro clearfix">
            <div class="huidi"></div>
            <ul>
                <li class="pro1">
                    <p class="pro_current"></p>
                    <span>1</span>
                    <p class="pro_txt">填写通行证账号 </p>
                </li>
                <li class="pro4 fdx_jd2">
                    <p class="pro_current"></p>
                    <span>2</span>
                    <p class="pro_txt">修改通行证密码</p>
                </li>
            </ul>
        </div>
        <!-- 进度条  S -->
        <!-- 请输入您用户名/邮箱/身份证号码  S -->
        <div class="fdx_input">
            <ul class="fdx_inpd1 clearfix">
                <li>
                    <span>新密码：</span>
                    <input id="newpassword" type="password" placeholder="" class="itxput" />
                    <em class="itxt_red" style="display:none;">您输入的用户名有误</em>
                </li>
                <li>
                    <span>确认新密码：</span>
                    <input id="checkpassword" type="password" placeholder="" class="itxput" />
                    <em class="itxt_red" style="display:none;">您输入的用户名有误</em>
                </li>
                <li>
                    <span>手机验证码：</span>
                    <input id="checkcode" type="text" class="itxput itxput_wd2" />
                    <input type="text" class="itxput_red" style="display:none;" />
                    <input type="button" id="againcheckcode" onclick="time(this)" class="codeNumDisable" value="重新发送" />
                    <p class="itx_pd1" style="display:none;"><em class="itxt_red">您输入的验证码有误</em></p>
                </li>
                <li>
                    <span></span>
                    <a onclick="SubmitModify();" href="javascript:void(0);" class="fdx_btn">提交</a>
                </li>
            </ul>
        </div>
        <p class="prompt" style="line-height:30px; background-position:2px 6px; padding-left:20px;">
            <span>温馨提示：</span>
            安全密码强度为“高、中、低”
        </p>

        <table class="findTable">
            <tr>
                <th>等级</th>
                <th>设置条件</th>
            </tr>
            <tr>
                <td width="150">强度为：高</td>
                <td align="left">密码必须是8~12位，并且同时含有字母、数字和下划线，比如“test_888888”</td>
            </tr>
            <tr>
                <td>强度为：中</td>
                <td align="left">密码长度为7-12位，字母、数字和下划线，任意一种或者两种组合。</td>
            </tr>
            <tr>
                <td>强度为：低</td>
                <td align="left">密码长度为6位，字母、数字和下划线的任意组合。</td>
            </tr>
        </table>

    </div>
</div>
<!-- 主体 E -->
<script>
    var account = $.request("account");

    var wait=60;
    function time(o) {
        if (wait == 60 && o.value == "重新发送") {
            $.ajax({
                url: "/FindPassword/SendCode",
                type: "GET",
                data: { account: account },
                dataType: "json",
                success: function(data) {
                    if (data.state == "success") {
                        alert("发送成功");
                    } else {
                        alert(data.message);
                    }
                }
            });
        }
        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value="重新发送";
            wait = 60;
        } else {
            o.setAttribute("disabled", true);
            o.value=" " + wait + " 后重新发送";
            wait--;
            setTimeout(function() {
                    time(o);
                },
                1000);
        }
    }

    function SubmitModify() {
        var newpwd = $("#newpassword").val();
        var checkpwd = $("#checkpassword").val();
        var checkcode = $("#checkcode").val();
        if (newpwd.length >20 || newpwd.length <6) {
            alert("密码长度为6-20位。");
            return;
        }
        if (checkpwd != newpwd) {
            alert("两次密码输入不一致。");
            return;
        }
        if (checkcode.length <= 0) {
            alert("手机验证码必填。");
            return;
        }
        $.ajax({
            url: "/FindPassword/SubmitModifyPwd",
            type: "GET",
            data: { account: account,newpwd:newpwd,checkcode:checkcode },
            dataType: "json",
            success: function(data) {
                if (data.state == "success") {
                    alert("修改成功。");
                } else {
                    alert(data.message);
                }
            }
        });
    }
</script>

