
@{
    ViewBag.Title = "Auction";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>帮助中心</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="newsli">
        <ul>
            <li class=""><a href="/UserProtocol">用户协议</a></li>
            <li class=""><a href="###">常见问题</a></li>
            <li><a href="###">新手帮助</a></li>
            <li><a href="###">安全常识</a></li>
            <li><a href="###">联系客服</a></li>
            <li><a href="###">建议投诉</a></li>
            <li class="current"><a href="###">功能介绍</a></li>
        </ul>
    </div>
    <div class="help_content">
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">大卖场功能是作为玩家们自由交换道具的平台，虽然进入的方式还是通过我的背包，但是分别有拍卖目录、我的拍卖、拍卖纪录三大功能。下面分别来说下三大功能：</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">【拍卖目录】</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">这是作为追寻所有道具正在拍卖的各种信息，包括名称、数量、玩家信息、单价；接着，玩家们能自由选择哪个道具来进行交易，当然购买数量也是自由选择。</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">&nbsp;</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">【我的拍卖】</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">这块显示的是玩家卖出、拍下或下架道具的整体情况；玩家可把想要卖出的道具来设置数量和单价，同时平台将对成功拍出价格在</span></span><span style=";font-family:等线;font-size:14px">1000万以下的道具收取2%的手续费，玩家可通过“提取”按钮来获取拍卖所得，同时显示在“我的道具”里。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">&nbsp;</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">【拍卖纪录】</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">显示玩家在大卖场中成功买入、卖出以及提取拍卖所得的信息记录。</span></span>
        </p>
        <p>
            <br/>
        </p>
    </div>
</div>


