
@{
    ViewBag.Title = "帮助中心-新手帮助";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>帮助中心</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="newsli">
        <ul>
            <li class=""><a href="/helper/UserProtocol">用户协议</a></li>
            <li class=""><a href="/helper">常见问题</a></li>
            <li class="current"><a href="/helper/help">新手帮助</a></li>
            <li class=""><a href="/helper/Auction">功能介绍</a></li>
        </ul>
    </div>
    <div class="help_content">
        <p>
            <strong><span style="font-size: 18px;"><span style="font-family: 等线;">一：如何下载游戏</span></span></strong>
        </p>
        <p style="margin-left:24px">
            <strong><span style="font-family:等线;font-size:16px">1.&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">在游戏官方网站的主页右侧有下载大厅的链接</span></span></strong>
        </p>
        <p style="margin-left:24px;text-indent:0">
            <img src="/Content/Img/Helper/6365354501692017568941673.png" title="image.png" alt="image.png" />
        </p>
        <p style="margin-left:24px">
            <strong><span style="font-family:等线;color:rgb(255,0,0);font-size:16px">2.&nbsp;</span><span style=";font-family:等线;color:rgb(255,0,0);font-size:16px"><span style="font-family:等线">点击下载按钮会弹出下载提示窗口，点击</span>“保存”，选择保存安装包的路径后，开始下载</span></strong>
        </p>
        <p style="margin-left:24px;text-indent:0">
            <strong><span style=";font-family:等线;font-size:16px">&nbsp;</span></strong>
        </p>
        <p>
            <span style="font-size: 18px;"><strong><span style="font-family: 等线;">二：如何安装游戏</span></strong></span>
        </p>
        <p style="margin-left: 24px">
            <strong><span style="font-family:等线;font-size:16px">1.&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">下载完成后，双击大厅安装包，运行安装程序</span></span></strong>
        </p>
        <p style="margin-left: 24px;text-indent: 0">
            <img src="/Content/Img/Helper/6365354502569586273691828.png" title="image.png" alt="image.png" />
        </p>
        <p style="margin-left: 24px">
            <strong><span style="font-family:等线;font-size:16px">2.&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">双击安装包后，会弹出以下窗口，点击</span>“</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">是</span></span><span style=";font-family:等线;font-size:16px">”</span></strong>
        </p>
        <p style="margin-left: 24px;text-indent: 0">
            <img src="/Content/Img/Helper/6365354503430956544429425.png" title="image.png" alt="image.png" />
        </p>
        <p style="margin-left: 24px">
            <strong><span style="font-family:等线;font-size:16px">3.&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">按提示安装游戏</span></span></strong>
        </p>
        <p>
            <strong><span style=";font-family:等线;font-size:16px">&nbsp;</span></strong>
        </p>
        <p>
            <img src="/Content/Img/Helper/6365354505823306338554719.png" title="image.png" alt="image.png" />
        </p>
        <p>
            <img src="/Content/Img/Helper/6365354506639890356189899.png" title="image.png" alt="image.png" />
        </p>
        <p>
            <img src="/Content/Img/Helper/6365354507472893168713876.png" title="image.png" alt="image.png" />
        </p>
        <p style="margin-bottom: 10px;background: rgb(255, 255, 255)">
            <strong><span style=";font-family:等线;font-size:16px">&nbsp;</span><span style=";font-family:等线;font-size:16px">4</span><span style=";font-family:等线;font-size:16px">.安装</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">完成</span></span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">之后，弹出大厅登录界面，即可输入账号密码登入。</span></span></strong>
        </p>
        <p>
            <img src="/Content/Img/Helper/6365354508485742384720632.png" title="image.png" alt="image.png" />
        </p>
        <p>
            <strong><span style=";font-family:等线;font-size:16px">&nbsp;</span></strong>
        </p>
        <p>
            <span style="font-size: 18px;"><strong><span style="font-family: 等线;">三：如何注册帐号</span></strong></span>
        </p>
        <p style="margin-left:48px">
            <strong><span style="font-family:等线;font-size:16px">1．&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">进入客户，在登陆界面右下角点击快速注册按钮</span></span></strong>
        </p>
        <p>
            <strong><span style=";font-family:等线;font-size:16px"><img src="/Content/Img/Helper/6365354509481800482013001.png" title="image.png" alt="image.png" />&nbsp;</span></strong>
        </p>
        <p>
            <strong><span style=";font-family:等线;font-size:16px">2.进入注册页面，填写注册信息</span></strong>
        </p>
        <p>
            <strong><img src="/Content/Img/Helper/6365354510239408971464279.png" title="image.png" alt="image.png" /><span style=";font-family:等线;font-size:16px">&nbsp;</span></strong>
        </p>
        <p>
            <strong><span style=";font-family:等线;font-size:16px">&nbsp;</span></strong>
        </p>
        <p>
            <strong><span style=";font-family:等线;font-size:16px">3</span><span style=";font-family:等线;font-size:16px">.</span><span style=";font-family:等线;font-size:14px">&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">必填信息全部正确，阅读用户协议，点击</span>“立即注册”，即可完成注册</span></strong>
        </p>
        <p>
            <strong><span style="font-family: 等线;"><img src="/Content/Img/Helper/6365354510908150385586963.png" title="image.png" alt="image.png" />&nbsp;</span></strong>
        </p>
        <p>
            <span style="font-size: 18px;"><strong><span style="font-family: 等线;">四：如何登录游戏</span></strong></span>
        </p>
        <p style="margin-left: 24px">
            <strong><span style="font-family:等线;font-size:16px">1.&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">打开游戏登陆界面，填写已注册的帐号密码</span></span></strong>
        </p>
        <p>
            <strong><img src="/Content/Img/Helper/6365354511583804133154045.png" title="image.png" alt="image.png" /><span style=";font-family:等线;font-size:16px">&nbsp;</span></strong>
        </p>
        <p style="margin-left: 24px">
            <strong><span style="font-family:等线;font-size:16px">2.&nbsp;</span><span style=";font-family:等线;font-size:16px"><span style="font-family:等线">首次登陆游戏要填写您的昵称和性别，随后即可开始游戏</span></span><span style=";font-family:等线;font-size:16px"><br /></span></strong>
        </p>
        <p style="margin-bottom: 10px;background: rgb(255, 255, 255)">
            <strong><img src="/Content/Img/Helper/6365354512088450699279091.png" title="image.png" alt="image.png" /><span style=";font-family:等线;font-size:16px">&nbsp;</span></strong>
        </p>
        <p>
            <br />
        </p>


    </div>
</div>


