
@{
    ViewBag.Title = "帮助中心-棋牌-斗地主,麻将,牛牛,棋牌游戏平台";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>帮助中心</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="newsli">
        <ul>
            <li class="current"><a href="/helper">常见问题</a></li>
            <li><a href="/helper/help">新手帮助</a></li>
            <li class=""><a href="/helper/Auction">功能介绍</a></li>
            <li class=""><a href="/helper/UserProtocol">用户协议</a></li>
        </ul>
    </div>
    <div class="help_content">
        <p>
            <span style="font-size: 16px;"><span style=""><b>问：如何找回密码？</b></span></span>
        </p>
        <p>
            <b><span style="font-size:14px;">答：如果您遗失了账号密码，请登陆321棋牌官方网站 </span></b><a href="http://www.321qp.com"><b><span style="color: rgb(255, 0, 0);">http://www.321qp.com &nbsp;</span></b></a><b><span style="font-size:14px;">进行密码修改</span>。</b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="">问：如何充值？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;">答：您可以登录321棋牌官方网站 </span></b><a href="http://www.321qp.com"><b><span style="color: rgb(255, 0, 0);">http://www.321qp.com</span></b></a><b><span style="font-size:14px;">进行充值</span>。</b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：帐号绑定手机有什么作用？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：保护账户安全可通过</span></span><span style="font-size:14px;"><span style="">手机找回密码</span></span><span style="font-size:14px;"><span style="">，绑定手机后可通过手机验证找回密码。可以通过手机号登陆。</span></span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：您的帐号正在游戏中？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：遇到这种情况，请确定您未登录游戏，或在其他地方登录了客户端。请等待</span></span><span style="font-size:14px;">3分钟后在尝试登录游戏。如果3分钟后登录游戏仍然出现以上提示，请联系客服处理。</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：如何进行账号登录保护？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：绑定电脑，</span></span><span style="font-size:14px;"><span style="">打开</span></span><span style="font-size:14px;">321棋牌</span><span style="font-size:14px;"><span style="">客户端登录游戏后，</span></span><span style="font-size:14px;"><span style="">打开个人信息</span></span><span style="font-size:14px;"><span style="">就可以看到在右方有一个</span>“账号</span><span style="font-size:14px;"><span style="">于本台电脑绑定</span></span><span style="font-size:14px;">”按钮。如果“绑定电脑”选项前打钩则表示此账号已经绑定了本电脑，再次点击将弹出确认框请您选择是否解除绑定，确认后解绑成功。如果“绑定电脑”选项前没有打钩，则表示您还没有绑定电脑，点击后弹出确认框请您选择是否绑定最近登录的两台电脑，确认后绑定成功。如果您有两台电脑需要绑定，那么给您的建议是在这两台电脑上各登录一次您的账号，然后再选择“绑定电脑”。 绑定了电脑的账号在其他未绑定电脑上是无法登录的，如果您误绑了其他电脑而短时间又无法去通过那台电脑解绑，请联系客服来帮您解除绑定。</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：如何进行账号实名认证？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：打开客户端，进入个人信息，在右上方有一个</span>“完善信息”按钮，点击输入手机号码、姓名、身份证号即可。</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：如何修改账户密码？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">打开</span>321棋牌登陆界面，右下角有“忘记密码”按钮，或者直接登陆321棋牌官网，找到“密码找回”，选择要找回密码的方式（</span><span style="font-size:14px;"><span style="">通过邮箱找回；通过注册资料找回；通过申述找回</span></span><span style="font-size:14px;"><span style="">）</span></span></b>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">（</span></span><span style="font-size:14px;">1）通过邮箱找回。玩家通过填写的有效邮箱地址获取邮件，根据邮件提示设置新密码。</span><span style="font-size:14px;"><br /></span><span style="font-size:14px;"><span style="">（</span></span><span style="font-size:14px;">2）通过注册资料找回。填写相关注册信息，完成点击下一步设置新密码。</span></b>
        </p>
        <p style="text-indent:7px">
            <b><span style="font-size:14px;">(3) 通过申述找回。提供个人信息和填写账号信息，提交找回密码申请.</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：金库是什么？遗忘金库密码，如何重置？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">金库即银行，为您提供游戏金币的存取与转账功能。</span></span><span style="font-size:14px;">&nbsp;</span></b>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">点击金库图标后，点击</span></span><span style="font-size:14px;">&quot;</span><span style="font-size:14px;"><span style="">忘记金库</span></span><span style="font-size:14px;"><span style="">密码</span>&quot;标签即可进行的相应操作。</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：游戏游客帐号如何转正？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：</span></span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：请问321游戏平台客户端在哪里下载?</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：您好。白金岛客户端的下载地址为：</span></span></b><a href="http://www.321qp.com"><b><span style="text-decoration:underline;"><span style="color: rgb(255, 0, 0);background: rgb(192, 192, 192)">http://www.321qp.com</span></span></b></a><b><span style="font-size:14px;">.</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：如何对游戏进行更新？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：</span>321棋牌致力于给玩家最为贴心的游戏感受和体验，会接受广大牌友的建议对游戏内容加以合理的修改，为了广大牌友能够即时体验到棋牌的更多乐趣，游戏版本和内容也会有计划的加以更新，当玩家进入游戏前，游戏会自动更新至最新版本。</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：什么是元宝？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：元宝是</span>3</span><span style="font-size:14px;">21</span><span style="font-size:14px;"><span style="">棋牌游戏游戏中使用的虚拟游戏数据，仅限于在游戏中用来获取游戏道具，同时在游戏牌桌作为计分单位，以增加游戏乐趣，是玩家级别的一种体现方式。游戏币不能兑换为现钞，也非现金供用券，也不能公开拍卖。</span></span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：如何获得元宝？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：您可以通过在321棋牌充值中心页面</span></span></b><a href="http://www.312qp.com"><b><span style="text-decoration:underline;"><span style="color: rgb(255, 0, 0);background: rgb(192, 192, 192)">http://www.321qp.com</span></span><span><span style="font-size:14px;">购买</span></span></b></a><b>。</b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：如何查询自己已经充值成功？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：您只要登录游戏查看自己拥有的元宝余额即可。由于网络延迟的原因，如果没有显示元宝变化，请等待</span></span><span style="font-size:14px;">10分钟后再次查看。</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：元宝如何兑换成金币？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：点击客户端大厅左方金币处的兑换按钮，填写你要兑换的元宝数，兑换比例：</span>1元宝</span><span style="font-size:14px;">=10000金币</span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：如何获得新手礼包？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">您只需注册321棋牌并登陆《321棋牌》，即可获得新手礼包。</span></span></b>
        </p>
        <p>
            <b><span style="font-size:14px">&nbsp;</span></b>
        </p>
        <p>
            <span style="font-size: 16px;"><b><span style="font-size: 16px; ">问：会员有什么用？有哪些特权？</span></b></span>
        </p>
        <p>
            <b><span style="font-size:14px;"><span style="">答：让您享有与普通玩家所不同的特权享受。会员的特权包含以下内容：</span></span></b>
        </p>
        <p style="margin-left:48px">
            <b><span style="font-size:14px;">（1）&nbsp;</span><span style="font-size:14px;">VIP</span><span style="font-size:14px;"><span style="">身份象征</span></span></b>
        </p>
        <p style="margin-left:48px">
            <b><span style="font-size:14px;">（2）&nbsp;</span><span style="font-size:14px;"><span style="">游戏昵称高亮</span> </span></b>
        </p>
        <p style="margin-left:48px">
            <b><span style="font-size:14px;">（3）&nbsp;</span><span style="font-size:14px;"><span style="">优先进入拥挤</span></span><span style="font-size:14px;"><span style="">房间</span></span></b>
        </p>
        <p>
            <br />
        </p>
    </div>
</div>			

