
@{
    ViewBag.Title = "帮助中心-棋牌-斗地主,麻将,牛牛,棋牌游戏平台";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>帮助中心</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="newsli">
        <ul>
            <li class="current"><a href="###">常见问题</a></li>
            <li><a href="###">新手帮助</a></li>
            <li><a href="###">安全常识</a></li>
            <li><a href="###">联系客服</a></li>
            <li><a href="###">建议投诉</a></li>
        </ul>
    </div>
    <div class="help_content">
        <p><span style="font-weight: bold;">一、充值：</span></p>
        <p>1.充值方式<br />目前支持银行卡、支付宝、业联一卡通、手机卡、固话、宽带、短信、骏卡、盛付通、天宏一卡通等多种方式充值。</p>
        <p>2.充值到帐<br />请先查看您的账户，是否有元宝进账（登陆官网-》充值中心-》充值记录查询，即可查看）部分时段充值可能会出现延迟的情况，如果超过1个小时仍然没有元宝进账，请联系客服人员为您处理。<br /><br /></p>
        <p><span style="font-weight: bold;">二、兑奖：</span></p>
        <p>
            1.话费<br />话费兑换：可以给您自己或您的家人朋友充值，支持全国移动、联通、电信号码。<br />
            话费未到账：<br />
            ◆ 话费兑换后一般24小时内到账，但由于服务商原因，可能会有延迟现象，72小时内到账。<br />
            ◆ 超过72小时未到账，您可以联系客服提交您的话费订单和话费充值记录，核对信息后，我们将在7个工作日内为您重新充值。
        </p>
        <p>2.现金<br />填写兑换信息时，请您留下有效的联系方式，我们的工作人员将在您提交订单后，与您取得联系,,核对您的信息，奖励将在信息核对完成后7个工作日内发放到您的银行卡上。</p>
        <p>
            3.实物<br />填写兑换信息时，请您留下有效的联系方式，我们的工作人员将在您提交订单后，与您取得联系，核对您的信息。
            商城实物将在信息核对完成后7个工作日内为您发出。<br /><br />
        </p>
        <p>活动实物奖励将在信息核对完成后，15个工作日之内统一发出。</p>
    </div>
</div>			

