
@{
    ViewBag.Title = "帮助中心-用户协议";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>帮助中心</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="newsli">
        <ul>
            <li class=""><a href="/helper">常见问题</a></li>
            <li><a href="/helper/help">新手帮助</a></li>
            <li class=""><a href="/helper/Auction">功能介绍</a></li>
            <li class="current"><a href="/helper/UserProtocol">用户协议</a></li>
        </ul>
    </div>
    <div class="help_content">
        <p>
            <span style=";font-family:等线; font-size: 24px; ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b><span style="font-family:等线">杭州</span>______网络科技有限公司用户注册使用协议</b></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">一、特别提示</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">杭州</span>______网络科技有限公司（以下简称：______科技）同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务</span><span style=";font-family:等线;font-size:14px">(以下简称“网络服务”)，为获得网络服务，服务使用人(以下简称“用户”)同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击“同意”按钮即表示用户完全接受本协议项下的全部条款。这些条款可由______科技随时更新，修改后的服务协议一旦在页面上公布，即有效代替原来的服务协议。用户在使用______科技提供的各项服务之前，应仔细阅读本服务协议，如用户不同意本服务协议及/或随时对其的修</span><span style=";font-family:等线;font-size:14px"><span style="font-family:等线">改，请停止使用</span>______科技提供的服务。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">二、著作权声明</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">______科技所提供的服务的相关著作权、专利权、商标、营业秘密及其它任何所有权或权利，均属______科技所有。非经______科技的同意，任何人或用户均不得擅自重制、传输、改作、编辑，否则应负全部法律责任。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">三、用户的基本义务</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.用户承诺以其真实身份注册成为______科技的用户，并保证所提供的个人身份资料信息真实、完整、有效，依据法律规定和必备条款约定对所提供的信息承担相应的法律责任。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.用户有义务妥善保管在注册服务时获得的帐号及密码谨防被盗或泄露，并为此帐号及密码登陆系统后所开始的一连串行为或活动负责。因密码被盗或泄露造成的全部责任和损失均由用户本人承担，______科技对此概不负责。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.若用户发现帐号或密码遭他人非法使用或有异常使用的情形，应立即通知______科技，并提交该帐号为本人所有的相关证明，以便申请该帐号的暂停登录和使用。因此而造成的损失______科技不承担任何赔偿责任。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">4.______科技根据用户的通知采取措施暂停用户账号的登录和使用，______科技应当要求用户提供并核实与其注册身份信息相一致的个人有效身份信息。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.用户没有提供其个人有效身份证件或者用户提供的个人有效身份证件与所注册的身份信息不一致的，______科技有权拒绝用户的上述请求。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.用户因忘记密码或密码被盗向______科技查询密码时，须提供完全正确的注册信息（包括注册时间、首次登陆游戏时所在城市和曾经用过的密码等），否则______科技有权本着为用户保密的原则不予告知。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">7.用户同意若发现任何非法使用用户帐号或利用安全漏洞的情况，立即通告______科技，且须承诺在申请帐号时遵循如下规定：</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">a.用户名和中文昵称的注册及使用须尊重网络道德，遵守中华人民共和国的相关法律法规。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">b.用户名和中文昵称中不得含有任何威胁、恐吓、漫骂、庸俗、亵渎、色情、淫秽、非法、反动、前后矛盾、攻击性、伤害性、骚扰性、诽谤性、辱骂性的或侵害他人知识产权的文字。不得涉及政治、国家领导人及近音国家领导人，以及任何可能引起法律纠纷的文字。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">8.若用户将帐号与他人于现实生活中进行交易或互易行为而产生的纠纷，______科技概不负责。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">9.用户使用在______科技注册的用户名在游戏平台中的任何行为，需要遵守______科技其他各项服务条款。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">10.用户连续六个月未使用在______科技注册的帐号或首次使用后三个月内再未使用过其帐号或注册后一个月内从未登陆使用过该帐号，经系统审查后，______科技有权采取措施终止该用户继续使用该帐号或回收该帐号。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">11.用户对______科技服务管理人员所进行的询问应据实澄清，否则______科技有权随时终止用户使用服务。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">四、用户隐私制度</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">______科技绝对不会修改用户的个人资料，或编辑或透露用户在注册资料中的密码、姓名、地址、电话、身份证号码及保存在______科技游戏平台中的非公开内容，除非有法律许可要求或______科技在诚信的基础上认为透露这些信息在以下四种情况是必要的：</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.遵守有关法律规定，遵从合法服务程序。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.维护______科技的商标所有权。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.在紧急情况下竭力维护用户个人和社会大众的隐私安全。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">4.符合其他相关的要求。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">五、游戏数据的特别规定</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.______科技游戏平台严禁以下行为：</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(1)盗取游戏帐号、游戏内金币（以下简称为金币）、</span><span style="font-family: 等线;font-size: 14px"><span style="font-family:等线">元宝</span></span><span style=";font-family:等线;font-size:14px"><span style="font-family:等线">及奖牌等物品，（偷盗金币、元宝及奖牌等物品的行为指的是，在未经金币、元宝及奖牌等物品持有人允许的情况下，将该金币、元宝及奖牌等物品转移、使用、获得等行为或者利用系统漏洞获取金币、元宝及奖牌等物品，并将该金币、元宝及奖牌等物品转移、使用、获得等行为，</span></span><span style="text-decoration:underline;"><span style="font-family: 等线;color: rgb(255, 0, 0);font-size: 14px"><span style="font-family:等线">棋牌名</span></span></span><span style=";font-family:等线;font-size:14px"><span style="font-family:等线">有权根据记录清理以上方式获得的金币、元宝及奖牌等物品）。</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(2)利用系统漏洞或者其他任何非正常方式获得游戏帐号、金币、元宝及奖牌等游戏数据的活动。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(3)私下进行游戏帐号、金币、元宝及奖牌等物品交易，如查明涉嫌盗号，所涉及的帐号将被系统回收，永久封停，永不启用。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.对于违反以上规定的用户，一经发现，______科技将视情节轻重对其采取删除其发表的文章、没收其金币、元宝及奖牌等物品、封停其游戏帐号、删除其游戏帐号、乃至屏蔽其计算机的处罚。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.如果______科技发现用户帐号数据异常，有权采取相应措施，包括对该异常帐号的冻结、终止，该异常帐号内金币、元宝及奖牌等物品相关数据的清除，用户不得因此要求______科技做任何补偿。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">六、服务的停止和更改</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.发生下列情形之一时，______科技有权停止或中断向用户提供的服务：</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(1)用户有发布违法信息、严重违背社会公德、以及其他违反法律禁止性规定的行为 ；</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(2)用户提供虚假注册身份信息，或实施违反本协议的行为；</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(3)对于网络设备进行必要的保养及施工；</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(4)发生突发性的网络设备故障时；</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(5)由于不可抗拒因素致使______科技无法提供线上服务；</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">(6)由于相关政府机构的要求。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.在本协议约定的情形下，______科技就停止或更改或终止向用户所提供的服务而可能产生的不便或损害，______科技对用户本人或任何第三人均不负任何损害赔偿责任。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.用户应了解并同意，______科技所提供的服务可能因公司本身、其它合作厂商或相关电信业者网络系统软硬件设备的故障、失灵、或因合作方及相关电信工作人员人为操作的疏失而全部或一部分中断、暂时无法使用、迟延或因他人侵入______科技系统篡改或伪造编造资料等，造成服务的停止或中断或用户档案缺失，用户不得要求______科技提供任何的补偿或赔偿。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">4.______科技根据本协议取消或停止用户的资格或加以限制，用户不得要求补偿或赔偿。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.______科技有权仅根据其判断，单方决定新增、修改、删除、暂停或终止其所提供的全部或部分服务（包括且不限于增加、暂停或终止某个游戏的运营），且无需另行个别通知用户，用户不得因此要求任何补偿或赔偿。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.______科技对其服务不保证不出现任何程序BUG，并对由此可能产生的问题不承担任何赔偿责任。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">七、用户违规处罚办法</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">用户违规行为指的是用户违反《杭州畅趣网络科技有限公司用户注册使用协议》条款、论坛服务条款、</span>______科技作弊处罚条款等______科技任何服务条款或管理制度的行为，对于用户违规行为的处罚办法如下：</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.用户如有违反《杭州畅趣网络科技有限公司用户注册使用协议》条款的行为，______科技有权视情节轻重对其采取删除其发表的文章、没收其金币、元宝及奖牌等财富、封闭其游戏帐号、删除其游戏帐号、乃至屏蔽其计算机的处罚，用户不得因此要求______科技做任何补偿或退费。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.用户如有作弊行为，将被依据“作弊处罚条例”的规定予以相应的处罚。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.用户如有违反论坛服务条款的行为，将被依据“论坛服务条款”的规定予以相应的处罚。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">4.用户如有违反______科技其他服务条款和管理制度的行为，将被依据相关规定予以相应的处罚。______科技各服务条款或管理制度之间不相抵，可各自执行。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">八、服务条款的修改</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">______科技保留随时修改本服务条款的权利，修改本服务条款时，______科技将于相关网站公告修改的事实，而不另对用户进行个别通知。若用户不同意修改的内容，可停止使用______科技的服务。若用户继续使用______科技的服务，即视为用户已接受______科技所修订的内容。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">网络游戏防沉迷系统及实名认证服务协议</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">本协议包括如下条款：</span></span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px"><span style="font-family:等线">如果您希望使用杭州</span>______网络科技有限公司（以下简称：______科技）平台账号登陆</span><span style="text-decoration:underline;"><span style="font-family: 等线;color: rgb(255, 0, 0);font-size: 14px"><span style="font-family:等线">棋牌名</span></span></span><span style=";font-family:等线;font-size:14px"><span style="font-family:等线">网络游戏平台，您还需要接受</span>______科技平台用户注册使用协议。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.本协议性质</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.1本协议按照《关于保护未成年人身心健康实施网络游戏防沉迷系统的通知》（以下简称《防沉迷通知》）而制定。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.2本协议是网络游戏运营商（以下简称为“运营商”）与用户为实施网络游戏防沉迷系统及实名认证工作所订立的权利义务规范。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">1.3本协议条款如与运营商现行用户帐号注册相关条款内容有冲突，以本协议为准。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.本协议的目的</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.1防止未成年人过度沉迷网络游戏，倡导健康游戏习惯，保护未成年人的身心健康</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">2.2帮助家长及法定监护人了解其未成年子女或其他法定监护对象是否使用网络游戏等情况。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.网络游戏防沉迷系统开发标准</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.1未成年人累计在线3小时以内的游戏时间为“健康”游戏时间。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">3.2未成年人累计在线游戏3小时之后，再持续下去的2小时游戏时间为“疲劳”游戏时间，此时间段内未成年人获得的游戏收益将降为正常值的50%。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">4.注册须知</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">4.1用户需要按运营商提供的注册方式进行注册申请。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">4.2用户申请注册新帐号时必须填写实名身份信息。实名身份信息必须包括：真实姓名和身份证号码。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.运营商认证原则</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.1未满18周岁的用户将被判定为未成年人。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.2达到或者超过18周岁的用户将被初步判定为成年人。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.3上述情况按照以下原则处理：</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.3.1被判定为未成年人的用户纳入网络游戏防沉迷系统。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.3.2初步判定为成年人的用户，其实名身份信息将由运营商提交公安部门进行验证。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.3.3当未成年人用户年龄自然成长达到18周岁时，系统自动初步认定其为成年人，其实名身份信息将由运营商提交公安部门进行验证。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">5.4对于不适用中华人民共和国身份证信息注册的现役军人、外籍人士、港澳台同胞等用户，可根据其合法身份证明复印件或传真件向运营商提出实名认证申请，认证未通过前纳入网络游戏防沉迷系统。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.安全保障措施</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.1运营商对用户所提供的实名身份信息进行严格的管理及保护，并将使用现有的技术，尽力防止用户的个人资料丢失、被盗用或遭篡改。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.2运营商未经用户授权不得公开、修改、透露用户身份信息资料及其它保存在网络游戏防沉迷系统实名认证方案中的保密性内容，除遇下列情形：</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.2.1根据有关法律规定要求。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.2.2基于司法机关或其它国家主管机关的法定程序的要求。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">6.2.3在紧急情况下为保护用户或第三人的人身安全，防止用户及他人权益之重大危害的情形下。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">7.验证须知</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">7.1运营商定期将经识别分类后初步判定为成年人的实名身份信息批量提交公安部门进行验证，由公安部门判定该信息是否真实，并根据验证结果最终确定该用户是否属于成年人。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">7.2运营商将建立实名身份信息数据库，逐步积累已经验证的实名身份信息，用于对新用户提供的实名身份信息进行比对。比对一致的将不再重复送交公安部门验证。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">7.3用户实名身份信息经公安部门验证未通过的将被纳入网络游戏防沉迷系统。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">7.4运营商无法确保公安部门现有身份信息库的完整，用户对此现状已明确了解。提供本人的身份证复印件、户口薄复印件、联系电话等真实有效的身份证明后可向运营商提出将使用本人身份信息注册的帐号归入网络游戏防沉迷系统的要求。如用户需进一步主张自身的权利，根据相关法规和程序处理。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">7.5运营商自用户提交实名身份信息后一个自然月内完成验证。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">8.查询系统须知</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">8.1网络游戏实名认证信息查询系统，供家长及法定监护人对其未成年子女或其他法定监护对象是否使用网络游戏，是否受到网络游戏防沉迷系统的保护等情况进行查询，以及供公民查询本人身份信息有无被他人使用的情况。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">8.2查询者在使用查询系统时需通过书面形式提出申请，并附本人的身份证复印件、户口薄复印件、联系电话、邮编、邮寄地址或电子邮件等真实有效的身份证明信息，方可向运营商提出查询本人身份信息有无被他人使用的申请；如需依法查询被监护人是否使用网络游戏，需要另外提供经公证的能够证明本人与被监护人法定监护关系的证明材料。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">8.3公民如发现本人身份信息被他人使用，在提供本人经公证的身份证复印件、户口薄复印件、联系电话等真实有效的身份证明后可向运营商提出将使用本人身份信息注册的帐号归入网络游戏防沉迷系统的要求。如公民需进一步主张本人的权利，应根据相关法律和程序处理。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">8.4对于查询者的查询需求，自收到申请函之日起运营商需在一周内对其中的身份信息公证证明进行形式上的核对后，将处理情况复函通知查询者。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">9.免责须知</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">9.1鉴于现有技术及运营商资源的局限性，运营商在此特别提示用户在本网络游戏防沉迷系统及实名认证实施过程中可能存在缺陷及瑕疵，用户对此表示理解和认可同意并自动接受此服务协议的约定内容，运营商在依照本协议所述履行相应义务的前提下，用户承诺不就此追究运营商的责任。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">9.2由于用户向运营商提供错误、不完整、不实信息等致使本人遭受任何损失，责任自负。</span>
        </p>
        <p>
            <span style=";font-family:等线;font-size:14px">9.3由于用户个人原因将密码告知他人或未保管好自己的密码或与他人共享注册账户或任何其它非运营商的过错，导致本人实名认证信息泄露，运营商不承担责任。</span>
        </p>
    </div>
</div>


