<!--footer-->
<div class="footer">
    <div class="mainCont foot_c">
        <p>
            <a href="javascript:void(0);">公司介绍</a>|
            <a href="javascript:void(0);">招聘信息</a>|
            <a href="javascript:void(0);">联系我们</a>|
            <a href="javascript:void(0);">服务条款</a>|
            <a href="http://www.cnzz.com/stat/website.php?web_id=4341740" title="站长统计">站长统计</a>
        </p>
        <p>森诚网络科技有限公司 版权所有 | 网络文化经营许可证：8877-074号 | 增值电信业务经营许可证：浙B5-20170889</p>
        <p>浙ICP备99089377号-3</p>
        <div class="f_safe">
            <a key="532a7d80af6004633cb69a15" logo_size="124x47" logo_type="business" href="http://www.anquan.org/authenticate/cert/?site=www.xxxx.com&amp;at=business" target="_blank">
                <img src="http://static.anquan.org/static/outer/image/hy_124x47.png" alt="安全联盟认证" width="124" height="47" style="border: none;">
            </a>
            <a href="http://www.anquan.org/" target="_blank">
                <img src="http://static.jiasule.com/static/images/icon/scanv_logo.png?v=20140404" alt="安全联盟实名验证">
            </a>
        </div>
    </div>
</div>
<!--/footer-->
