
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">名称</th>
                <td class="formValue">
                    <input id="RoomName" name="RoomName" type="text" class="form-control required" placeholder="请输入配置名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">登陆比率</th>
                <td class="formValue">
                    <input id="LoginRoomRate" name="LoginRoomRate" type="text" class="form-control required" placeholder="请输入岗位名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">离开比率</th>
                <td class="formValue">
                    <input id="LeaveRoomRate" name="LeaveRoomRate" type="text" class="form-control required" placeholder="请输入岗位编号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">在房间最小时间</th>
                <td class="formValue">
                    <input id="InRoomMinTime" name="InRoomMinTime" type="text" class="form-control required" placeholder="请输入显示顺序" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">最大时间</th>
                <td class="formValue">
                    <input id="InRoomMaxTime" name="InRoomMaxTime" type="text" class="form-control required" placeholder="请输入显示顺序" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    配置文本
                </th>
                <td class="formValue">
                    <textarea id="AIText" name="AIText" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    上周概率
                </th>
                <td class="formValue">
                    <textarea id="PriorityTable" name="PriorityTable" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>

