<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CQBase" connectionString="Server=183.131.69.236;Initial Catalog=CQBase;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QpAccount" connectionString="Server=183.131.69.236;Initial Catalog=QPAccount;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogTotal" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_Total;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPRobot" connectionString="Server=183.131.69.236;Initial Catalog=QPRobot;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPGameAddRoomName" connectionString="Server=183.131.69.236;Initial Catalog=QPGameAddRoomName;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPProp" connectionString="Server=183.131.69.236;Initial Catalog=QPProp;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <!--<add name="CQBase" connectionString="Server=.;Initial Catalog=CQBase;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->


  <add name="QPLogStatistics" connectionString="Server=183.131.69.236;Initial Catalog=QPLogStatistics;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPWebLog" connectionString="Server=183.131.69.236;Initial Catalog=QPWebLog;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
</connectionStrings>