<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CQBase" connectionString="Server=183.131.69.236;Initial Catalog=CQBase;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QpAccount" connectionString="Server=183.131.69.236;Initial Catalog=QPAccount;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogTotal" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_Total;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPRobot" connectionString="Server=183.131.69.236;Initial Catalog=QPRobot;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPGameAddRoomName" connectionString="Server=183.131.69.236;Initial Catalog=QPGameAddRoomName;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPProp" connectionString="Server=183.131.69.236;Initial Catalog=QPProp;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  
  <!--游戏日志库-->
  <add name="QPLogBlackJack" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_BlackJack;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogCardNine" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_CardNine;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogCrazyOx" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_CrazyOx;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogDiamondTiger" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_DiamondTiger;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogHundredOx" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_HundredOx;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogLandCrazy" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_LandCrazy;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogOxForTwo" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_OxForTwo;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogShenShou" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_ShenShou;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogShowHand" connectionString="Server=183.131.69.236;Initial Catalog=QPLog_ShowHand;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />

  <add name="QPLogStatistics" connectionString="Server=183.131.69.236;Initial Catalog=QPLogStatistics;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPWebLog" connectionString="Server=183.131.69.236;Initial Catalog=QPWebLog;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
</connectionStrings>