<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CQBase" connectionString="Server=115.238.87.114;Initial Catalog=CQBase;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QpAccount" connectionString="Server=115.238.87.114;Initial Catalog=QPAccount;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogTotal" connectionString="Server=115.238.87.114;Initial Catalog=QPLog_Total;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPRobot" connectionString="Server=115.238.87.114;Initial Catalog=QPRobot;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPGameAddRoomName" connectionString="Server=115.238.87.114;Initial Catalog=QPGameAddRoomName;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  
  <!--游戏日志库-->
  <add name="QPLogCardNine" connectionString="Server=115.238.87.114;Initial Catalog=QPLog_CardNine;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogDiamondTiger" connectionString="Server=115.238.87.114;Initial Catalog=QPLog_DiamondTiger;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogHundredOx" connectionString="Server=115.238.87.114;Initial Catalog=QPLog_HundredOx;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogOxForTwo" connectionString="Server=115.238.87.114;Initial Catalog=QPLog_OxForTwo;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogShenShou" connectionString="Server=115.238.87.114;Initial Catalog=QPLog_ShenShou;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
  <add name="QPLogShowHand" connectionString="Server=115.238.87.114;Initial Catalog=QPLog_ShowHand;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />

  <add name="QPLogStatistics" connectionString="Server=115.238.87.114;Initial Catalog=QPLogStatistics;User ID=sa;Password=8218qp.COM" providerName="System.Data.SqlClient" />
</connectionStrings>