USE [master]
GO
/****** Object:  Database [CQBase]    Script Date: 11/08/2017 19:33:12 ******/
CREATE DATABASE [CQBase] ON  PRIMARY 
( NAME = N'CQBase', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CQBase.mdf' , SIZE = 17408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CQBase_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CQBase_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CQBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CQBase]
GO
/****** Object:  Table [dbo].[Sys_UserLogOn]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_UserLogOn](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_UserId] [nvarchar](max) NULL,
	[F_UserPassword] [nvarchar](max) NULL,
	[F_UserSecretkey] [nvarchar](max) NULL,
	[F_AllowStartTime] [datetime] NULL,
	[F_AllowEndTime] [datetime] NULL,
	[F_LockStartDate] [datetime] NULL,
	[F_LockEndDate] [datetime] NULL,
	[F_FirstVisitTime] [datetime] NULL,
	[F_PreviousVisitTime] [datetime] NULL,
	[F_LastVisitTime] [datetime] NULL,
	[F_ChangePasswordDate] [datetime] NULL,
	[F_MultiUserLogin] [bit] NULL,
	[F_LogOnCount] [int] NULL,
	[F_UserOnLine] [bit] NULL,
	[F_Question] [nvarchar](max) NULL,
	[F_AnswerQuestion] [nvarchar](max) NULL,
	[F_CheckIPAddress] [bit] NULL,
	[F_Language] [nvarchar](max) NULL,
	[F_Theme] [nvarchar](max) NULL
) ON [PRIMARY]
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Sys_User]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_User](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_Account] [nvarchar](max) NULL,
	[F_RealName] [nvarchar](max) NULL,
	[F_NickName] [nvarchar](max) NULL,
	[F_HeadIcon] [nvarchar](max) NULL,
	[F_Gender] [bit] NULL,
	[F_Birthday] [datetime] NULL,
	[F_MobilePhone] [nvarchar](max) NULL,
	[F_Email] [nvarchar](max) NULL,
	[F_WeChat] [nvarchar](max) NULL,
	[F_ManagerId] [nvarchar](max) NULL,
	[F_SecurityLevel] [int] NULL,
	[F_Signature] [nvarchar](max) NULL,
	[F_OrganizeId] [nvarchar](max) NULL,
	[F_DepartmentId] [nvarchar](max) NULL,
	[F_RoleId] [nvarchar](max) NULL,
	[F_DutyId] [nvarchar](max) NULL,
	[F_IsAdministrator] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Sys_RoleAuthorize]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_RoleAuthorize](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ItemType] [int] NULL,
	[F_ItemId] [nvarchar](max) NULL,
	[F_ObjectType] [int] NULL,
	[F_ObjectId] [nvarchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'06adbdc8-8cfc-45b8-a96c-4d818a883455', 2, N'329c0326-ce68-4a24-904d-aade67a90fc7', 1, N'4B2140D3-E61D-488E-ADF6-FF0EBCBC5D2C', NULL, NULL, NULL)
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'1210f461-8ad9-4a0c-966e-86e11845f61f', 1, N'e72c75d0-3a69-41ad-b220-13c9a62ec788', 1, N'4B2140D3-E61D-488E-ADF6-FF0EBCBC5D2C', NULL, NULL, NULL)
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'1ce53cca-1d7b-4d2a-903a-65df2a5f6ec9', 1, N'a3a4742d-ca39-42ec-b95a-8552a6fae579', 1, N'4B2140D3-E61D-488E-ADF6-FF0EBCBC5D2C', NULL, NULL, NULL)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Sys_Role]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Role](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_OrganizeId] [nvarchar](max) NULL,
	[F_Category] [int] NULL,
	[F_EnCode] [nvarchar](max) NULL,
	[F_FullName] [nvarchar](max) NULL,
	[F_Type] [nvarchar](max) NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'0052A230-EA7B-4F3A-A1C9-1611FF26481A', N'5AB270C0-5D33-4203-A54F-4552699FDA3C', 2, N'manager', N'经理', NULL, NULL, NULL, 3, 0, 1, NULL, CAST(0x0000A64100000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'05691457-5284-4FEE-8D7E-C35141F3FF39', N'5AB270C0-5D33-4203-A54F-4552699FDA3C', 2, N'10024', N'总经理助理', NULL, NULL, NULL, 16, 0, 1, NULL, CAST(0x0000A64100000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'07A8E061-AE47-49C9-8310-F055F35FF44B', N'5AB270C0-5D33-4203-A54F-4552699FDA3C', 1, N'services', N'客服人员', N'2', 0, 0, 9, 0, 1, NULL, CAST(0x0000A63F00000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_Organize]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Organize](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ParentId] [nvarchar](max) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](max) NULL,
	[F_FullName] [nvarchar](max) NULL,
	[F_ShortName] [nvarchar](max) NULL,
	[F_CategoryId] [nvarchar](max) NULL,
	[F_ManagerId] [nvarchar](max) NULL,
	[F_TelePhone] [nvarchar](max) NULL,
	[F_MobilePhone] [nvarchar](max) NULL,
	[F_WeChat] [nvarchar](max) NULL,
	[F_Fax] [nvarchar](max) NULL,
	[F_Email] [nvarchar](max) NULL,
	[F_AreaId] [nvarchar](max) NULL,
	[F_Address] [nvarchar](max) NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_ModuleFormInstance]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ModuleFormInstance](
	[F_Id] [varchar](50) NOT NULL,
	[F_FormId] [varchar](50) NOT NULL,
	[F_ObjectId] [varchar](50) NULL,
	[F_InstanceJson] [varchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ModuleForm]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ModuleForm](
	[F_Id] [varchar](50) NOT NULL,
	[F_ModuleId] [varchar](50) NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_FormJson] [varchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [varchar](50) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [varchar](50) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ModuleButton]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_ModuleButton](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ModuleId] [nvarchar](max) NULL,
	[F_ParentId] [nvarchar](max) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](max) NULL,
	[F_FullName] [nvarchar](max) NULL,
	[F_Icon] [nvarchar](max) NULL,
	[F_Location] [int] NULL,
	[F_JsEvent] [nvarchar](max) NULL,
	[F_UrlAddress] [nvarchar](max) NULL,
	[F_Split] [bit] NULL,
	[F_IsPublic] [bit] NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_Module]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Module](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ParentId] [nvarchar](max) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](max) NULL,
	[F_FullName] [nvarchar](max) NULL,
	[F_Icon] [nvarchar](max) NULL,
	[F_UrlAddress] [nvarchar](max) NULL,
	[F_Target] [nvarchar](max) NULL,
	[F_IsMenu] [bit] NULL,
	[F_IsExpand] [bit] NULL,
	[F_IsPublic] [bit] NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_Log]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Log](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_Date] [datetime] NULL,
	[F_Account] [nvarchar](max) NULL,
	[F_NickName] [nvarchar](max) NULL,
	[F_Type] [nvarchar](max) NULL,
	[F_IPAddress] [nvarchar](max) NULL,
	[F_IPAddressName] [nvarchar](max) NULL,
	[F_ModuleId] [nvarchar](max) NULL,
	[F_ModuleName] [nvarchar](max) NULL,
	[F_Result] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'85658418-5621-407d-9662-6b09c271f8a6', CAST(0x0000A82400AC46F3 AS DateTime), N'admin', N'admin', N'Login', N'192.168.1.99', N'局域网 对方和您在同一内部网', NULL, N'系统登录', 0, N'登录失败，验证码错误，请重新输入', CAST(0x0000A82400AC4747 AS DateTime), NULL)
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'a53f17f5-a63c-4af2-8527-4ef3a7c92f44', CAST(0x0000A82400AC4DBA AS DateTime), N'admin', N'超级管理员', N'Login', N'192.168.1.99', N'局域网 对方和您在同一内部网', NULL, N'系统登录', 1, N'登录成功', CAST(0x0000A82400AC4DD6 AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba')
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId]) VALUES (N'0ee54b84-e322-4dc8-99d8-b7f32f43bee5', CAST(0x0000A82400B1CF2B AS DateTime), N'admin', N'超级管理员', N'Login', N'192.168.1.99', N'局域网 对方和您在同一内部网', NULL, N'系统登录', 1, N'登录成功', CAST(0x0000A82400B1CF4D AS DateTime), N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Sys_ItemsDetail]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_ItemsDetail](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ItemId] [nvarchar](max) NULL,
	[F_ParentId] [nvarchar](max) NULL,
	[F_ItemCode] [nvarchar](max) NULL,
	[F_ItemName] [nvarchar](max) NULL,
	[F_SimpleSpelling] [nvarchar](max) NULL,
	[F_IsDefault] [bit] NULL,
	[F_Layers] [int] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'0096ad81-4317-486e-9144-a6a02999ff19', N'2748F35F-4EE2-417C-A907-3453146AAF67', NULL, N'4', N'护照', NULL, 0, NULL, 4, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'04aba88d-f09b-46c6-bd90-a38471399b0e', N'D94E4DC1-C2FD-4D19-9D5D-3886D39900CE', NULL, N'2', N'业务角色', NULL, 0, NULL, 2, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'1950efdf-8685-4341-8d2c-ac85ac7addd0', N'00F76465-DBBA-484A-B75C-E81DEE9313E6', NULL, N'1', N'小学', NULL, 0, NULL, 1, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_Items]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Items](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ParentId] [nvarchar](max) NULL,
	[F_EnCode] [nvarchar](max) NULL,
	[F_FullName] [nvarchar](max) NULL,
	[F_IsTree] [bit] NULL,
	[F_Layers] [int] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'00F76465-DBBA-484A-B75C-E81DEE9313E6', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'Education', N'学历', 0, 2, 8, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'0DF5B725-5FB8-487F-B0E4-BC563A77EB04', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'DbType', N'数据库类型', 0, 2, 4, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'15023A4E-4856-44EB-BE71-36A106E2AA59', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'103', N'民族', 0, 2, 14, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_FilterIP]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_FilterIP](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_Type] [bit] NULL,
	[F_StartIP] [nvarchar](max) NULL,
	[F_EndIP] [nvarchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_FilterIP] ([F_Id], [F_Type], [F_StartIP], [F_EndIP], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'4e035f2b-a03b-49b5-a38d-1c6d211a2a04', 1, N'192.168.1.1', N'192.168.1.10', NULL, NULL, 1, N'测试', CAST(0x0000A6470126303F AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_FilterIP] ([F_Id], [F_Type], [F_StartIP], [F_EndIP], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'b3fbe66f-82cd-4f4a-ada3-61eb5a2d9eee', 0, N'192.168.0.20', N'192.168.0.25', NULL, NULL, 1, NULL, CAST(0x0000A6470126A63E AS DateTime), NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_DbBackup]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_DbBackup](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_BackupType] [nvarchar](max) NULL,
	[F_DbName] [nvarchar](max) NULL,
	[F_FileName] [nvarchar](max) NULL,
	[F_FileSize] [nvarchar](max) NULL,
	[F_FilePath] [nvarchar](max) NULL,
	[F_BackupTime] [datetime] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_DbBackup] ([F_Id], [F_BackupType], [F_DbName], [F_FileName], [F_FileSize], [F_FilePath], [F_BackupTime], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'8b3fb1ff-07ab-46bb-a12a-85e65a9a748d', N'1', N'NFineBase', N'201607190929504502.bak', N'2.81 MB', N'/Resource/DbBackup/201607190929504502.bak', CAST(0x0000A648009C85B1 AS DateTime), NULL, NULL, 1, NULL, CAST(0x0000A648009C85E8 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_DbBackup] ([F_Id], [F_BackupType], [F_DbName], [F_FileName], [F_FileSize], [F_FilePath], [F_BackupTime], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'ddbbfaf3-44b7-4e34-b0c5-c79e21aba83a', N'1', N'NFineBase', N'201607181640402083.bak', N'2.81 MB', N'/Resource/DbBackup/201607181640402083.bak', CAST(0x0000A6470112D98C AS DateTime), NULL, NULL, 1, NULL, CAST(0x0000A6470112D9B5 AS DateTime), NULL, NULL, NULL, NULL, NULL)
/****** Object:  Table [dbo].[Sys_Area]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Area](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ParentId] [nvarchar](max) NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](max) NULL,
	[F_FullName] [nvarchar](max) NULL,
	[F_SimpleSpelling] [nvarchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](max) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](max) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'110000', N'0', 1, N'110000', N'北京', N'bj', 110000, NULL, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'110100', N'110000', 2, N'110100', N'北京市', N'bjs', 110100, NULL, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (N'120000', N'0', 1, N'120000', N'天津', N'tj', 120000, NULL, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[Bus_Products]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Products](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ProductName] [nvarchar](100) NULL,
	[F_IsHot] [bit] NULL,
	[F_ProductImg] [nvarchar](220) NULL,
	[F_Explain] [nvarchar](1000) NULL,
	[F_Rule] [text] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnableMark] [bit] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](128) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](128) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_Bus_Products] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Images]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Images](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_Category] [int] NULL,
	[F_FId] [nvarchar](128) NULL,
	[F_Thumb] [nvarchar](200) NULL,
	[F_Img] [nvarchar](200) NULL,
	[F_CreatorTime] [datetime] NULL,
 CONSTRAINT [PK_Bus_Images] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Articles]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Articles](
	[F_Id] [nvarchar](128) NOT NULL,
	[F_ArticleTitle] [nvarchar](200) NULL,
	[F_ArticleType] [int] NULL,
	[F_PublishTime] [datetime] NULL,
	[F_ArticleContent] [text] NULL,
	[F_SortCode] [int] NULL,
	[F_IsHot] [bit] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnableMark] [bit] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [nvarchar](128) NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [nvarchar](128) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_Bus_Articles] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/08/2017 19:33:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Bus_Products_F_IsHot]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_IsHot]  DEFAULT ((0)) FOR [F_IsHot]
GO
/****** Object:  Default [DF_Bus_Products_F_DeleteMark]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_DeleteMark]  DEFAULT ((0)) FOR [F_DeleteMark]
GO
/****** Object:  Default [DF_Bus_Products_F_EnableMark]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_EnableMark]  DEFAULT ((1)) FOR [F_EnableMark]
GO
/****** Object:  Default [DF_Bus_Products_F_CreateTime]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_CreateTime]  DEFAULT (getdate()) FOR [F_CreatorTime]
GO
/****** Object:  Default [DF_Bus_Images_F_CreateTime]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Images] ADD  CONSTRAINT [DF_Bus_Images_F_CreateTime]  DEFAULT (getdate()) FOR [F_CreatorTime]
GO
/****** Object:  Default [DF_Table_1_F_PublishDate]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Table_1_F_PublishDate]  DEFAULT (getdate()) FOR [F_PublishTime]
GO
/****** Object:  Default [DF_Bus_Articles_F_IsHot]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_IsHot]  DEFAULT ((0)) FOR [F_IsHot]
GO
/****** Object:  Default [DF_Bus_Articles_F_DeleteMark]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_DeleteMark]  DEFAULT ((0)) FOR [F_DeleteMark]
GO
/****** Object:  Default [DF_Bus_Articles_F_EnableMark]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_EnableMark]  DEFAULT ((1)) FOR [F_EnableMark]
GO
/****** Object:  Default [DF_Bus_Articles_F_CreateTime]    Script Date: 11/08/2017 19:33:13 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_CreateTime]  DEFAULT (getdate()) FOR [F_CreatorTime]
GO
