USE [master]
GO
/****** Object:  Database [CQBase]    Script Date: 11/25/2017 15:06:40 ******/
CREATE DATABASE [CQBase] ON  PRIMARY 
( NAME = N'CQBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CQBase.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CQBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CQBase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CQBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CQBase]
GO
/****** Object:  Table [dbo].[Sys_UserLogOn]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_UserLogOn](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_UserId] [bigint] NULL,
	[F_UserPassword] [nvarchar](50) NULL,
	[F_UserSecretkey] [nvarchar](50) NULL,
	[F_AllowStartTime] [datetime] NULL,
	[F_AllowEndTime] [datetime] NULL,
	[F_LockStartDate] [datetime] NULL,
	[F_LockEndDate] [datetime] NULL,
	[F_FirstVisitTime] [datetime] NULL,
	[F_PreviousVisitTime] [datetime] NULL,
	[F_LastVisitTime] [datetime] NULL,
	[F_ChangePasswordDate] [datetime] NULL,
	[F_MultiUserLogin] [bit] NULL,
	[F_LogOnCount] [int] NULL,
	[F_UserOnLine] [bit] NULL,
	[F_Question] [nvarchar](50) NULL,
	[F_AnswerQuestion] [nvarchar](50) NULL,
	[F_CheckIPAddress] [bit] NULL,
	[F_Language] [nvarchar](50) NULL,
	[F_Theme] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_UserLogOn] ON
SET IDENTITY_INSERT [dbo].[Sys_UserLogOn] OFF
/****** Object:  Table [dbo].[Sys_User]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_User](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_Account] [nvarchar](50) NULL,
	[F_RealName] [nvarchar](50) NULL,
	[F_NickName] [nvarchar](50) NULL,
	[F_HeadIcon] [nvarchar](50) NULL,
	[F_Gender] [bit] NULL,
	[F_Birthday] [datetime] NULL,
	[F_MobilePhone] [nvarchar](50) NULL,
	[F_Email] [nvarchar](50) NULL,
	[F_WeChat] [nvarchar](50) NULL,
	[F_ManagerId] [nvarchar](50) NULL,
	[F_SecurityLevel] [int] NULL,
	[F_Signature] [nvarchar](50) NULL,
	[F_OrganizeId] [nvarchar](50) NULL,
	[F_DepartmentId] [nvarchar](50) NULL,
	[F_RoleId] [bigint] NULL,
	[F_DutyId] [nvarchar](50) NULL,
	[F_IsAdministrator] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_User] ON
SET IDENTITY_INSERT [dbo].[Sys_User] OFF
/****** Object:  Table [dbo].[Sys_RoleAuthorize]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_RoleAuthorize](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ItemType] [int] NULL,
	[F_ItemId] [bigint] NULL,
	[F_ObjectType] [int] NULL,
	[F_ObjectId] [bigint] NULL,
	[F_SortCode] [int] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_RoleAuthorize] ON
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (1, 2, 1, 1, 1, NULL, NULL, 1)
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (2, 1, 1, 1, 1, NULL, NULL, 1)
INSERT [dbo].[Sys_RoleAuthorize] ([F_Id], [F_ItemType], [F_ItemId], [F_ObjectType], [F_ObjectId], [F_SortCode], [F_CreatorTime], [F_CreatorUserId]) VALUES (3, 1, 1, 1, 1, NULL, NULL, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Sys_RoleAuthorize] OFF
/****** Object:  Table [dbo].[Sys_Role]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Role](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_OrganizeId] [bigint] NULL,
	[F_Category] [int] NULL,
	[F_EnCode] [nvarchar](50) NULL,
	[F_FullName] [nvarchar](50) NULL,
	[F_Type] [nvarchar](50) NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_Role] ON
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (1, 4, 2, N'manager', N'经理', NULL, NULL, NULL, 3, 0, 1, NULL, CAST(0x0000A64100000000 AS DateTime), 1, NULL, 1, NULL, 1)
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (2, 4, 2, N'10024', N'总经理助理', NULL, NULL, NULL, 16, 0, 1, NULL, CAST(0x0000A64100000000 AS DateTime), 1, NULL, 1, NULL, 1)
INSERT [dbo].[Sys_Role] ([F_Id], [F_OrganizeId], [F_Category], [F_EnCode], [F_FullName], [F_Type], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (3, 4, 1, N'services', N'客服人员', N'2', 0, 0, 9, 0, 1, NULL, CAST(0x0000A63F00000000 AS DateTime), 1, NULL, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Sys_Role] OFF
/****** Object:  Table [dbo].[Sys_Organize]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Organize](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ParentId] [bigint] NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](50) NULL,
	[F_FullName] [nvarchar](50) NULL,
	[F_ShortName] [nvarchar](50) NULL,
	[F_CategoryId] [nvarchar](50) NULL,
	[F_ManagerId] [nvarchar](50) NULL,
	[F_TelePhone] [nvarchar](50) NULL,
	[F_MobilePhone] [nvarchar](50) NULL,
	[F_WeChat] [nvarchar](50) NULL,
	[F_Fax] [nvarchar](50) NULL,
	[F_Email] [nvarchar](50) NULL,
	[F_AreaId] [nvarchar](50) NULL,
	[F_Address] [nvarchar](50) NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_Organize] ON
SET IDENTITY_INSERT [dbo].[Sys_Organize] OFF
/****** Object:  Table [dbo].[Sys_ModuleFormInstance]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ModuleFormInstance](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_FormId] [varchar](50) NOT NULL,
	[F_ObjectId] [varchar](50) NULL,
	[F_InstanceJson] [varchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ModuleForm]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ModuleForm](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ModuleId] [bigint] NULL,
	[F_EnCode] [varchar](50) NULL,
	[F_FullName] [varchar](50) NULL,
	[F_FormJson] [varchar](max) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [varchar](500) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ModuleButton]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_ModuleButton](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ModuleId] [bigint] NULL,
	[F_ParentId] [bigint] NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](50) NULL,
	[F_FullName] [nvarchar](50) NULL,
	[F_Icon] [nvarchar](50) NULL,
	[F_Location] [int] NULL,
	[F_JsEvent] [nvarchar](50) NULL,
	[F_UrlAddress] [nvarchar](200) NULL,
	[F_Split] [bit] NULL,
	[F_IsPublic] [bit] NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_ModuleButton] ON
INSERT [dbo].[Sys_ModuleButton] ([F_Id], [F_ModuleId], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_Icon], [F_Location], [F_JsEvent], [F_UrlAddress], [F_Split], [F_IsPublic], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (1, 2, 0, 1, N'NF-edit', N'修改文章', NULL, 2, N'btn_edit()', N'/SystemManage/Duty/Form', 0, 0, 0, 0, 2, 0, 1, NULL, NULL, 1, CAST(0x0000A825013F0597 AS DateTime), 1, NULL, 1)
INSERT [dbo].[Sys_ModuleButton] ([F_Id], [F_ModuleId], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_Icon], [F_Location], [F_JsEvent], [F_UrlAddress], [F_Split], [F_IsPublic], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (2, 2, 0, 1, N'NF-delete', N'删除文章', NULL, 2, N'btn_delete()', N'/SystemManage/Duty/DeleteForm', 0, 0, 0, 0, 3, 0, 1, NULL, NULL, 1, CAST(0x0000A8240100512D AS DateTime), 1, NULL, 1)
INSERT [dbo].[Sys_ModuleButton] ([F_Id], [F_ModuleId], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_Icon], [F_Location], [F_JsEvent], [F_UrlAddress], [F_Split], [F_IsPublic], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (3, 2, 0, 1, N'NF-add', N'添加文章', NULL, 1, N'btn_add()', N'/ContentManage/Articles/Form', 0, 0, 0, 0, 1, 0, 1, NULL, NULL, 1, CAST(0x0000A82401019B6A AS DateTime), 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Sys_ModuleButton] OFF
/****** Object:  Table [dbo].[Sys_Module]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Module](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ParentId] [bigint] NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](50) NULL,
	[F_FullName] [nvarchar](50) NULL,
	[F_Icon] [nvarchar](50) NULL,
	[F_UrlAddress] [nvarchar](50) NULL,
	[F_Target] [nvarchar](50) NULL,
	[F_IsMenu] [bit] NULL,
	[F_IsExpand] [bit] NULL,
	[F_IsPublic] [bit] NULL,
	[F_AllowEdit] [bit] NULL,
	[F_AllowDelete] [bit] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_Module] ON
INSERT [dbo].[Sys_Module] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_Icon], [F_UrlAddress], [F_Target], [F_IsMenu], [F_IsExpand], [F_IsPublic], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (1, 0, NULL, NULL, N'内容管理', N'fa fa-folder', NULL, N'expand', 0, 1, 0, 0, 0, 10, NULL, 1, NULL, CAST(0x0000A82400F6010E AS DateTime), 1, CAST(0x0000A82400F68BEE AS DateTime), 1, NULL, 1)
INSERT [dbo].[Sys_Module] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_Icon], [F_UrlAddress], [F_Target], [F_IsMenu], [F_IsExpand], [F_IsPublic], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (2, 1, NULL, NULL, N'文章列表', NULL, N'/ContentManage/Articles/Index', N'iframe', 1, 0, 0, 0, 0, 10, NULL, 1, NULL, CAST(0x0000A82400FB0CFB AS DateTime), 1, CAST(0x0000A82400FDCF5A AS DateTime), 1, NULL, 1)
INSERT [dbo].[Sys_Module] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_Icon], [F_UrlAddress], [F_Target], [F_IsMenu], [F_IsExpand], [F_IsPublic], [F_AllowEdit], [F_AllowDelete], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (3, 1, NULL, NULL, N'游戏列表', NULL, N'/ContentManage/Games/Index', N'iframe', 1, 0, 0, 0, 0, 20, NULL, 1, NULL, CAST(0x0000A82400FB4E49 AS DateTime), 1, CAST(0x0000A82400FE1D94 AS DateTime), 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Sys_Module] OFF
/****** Object:  Table [dbo].[Sys_Log]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Log](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_Date] [datetime] NULL,
	[F_Account] [nvarchar](50) NULL,
	[F_NickName] [nvarchar](50) NULL,
	[F_Type] [nvarchar](50) NULL,
	[F_IPAddress] [nvarchar](50) NULL,
	[F_IPAddressName] [nvarchar](50) NULL,
	[F_ModuleId] [bigint] NULL,
	[F_ModuleName] [nvarchar](50) NULL,
	[F_Result] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_Log] ON
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId]) VALUES (1, CAST(0x0000A82400AC46F3 AS DateTime), N'admin', N'admin', N'Login', N'192.168.1.99', N'局域网 对方和您在同一内部网', 1, N'系统登录', 0, N'登录失败，验证码错误，请重新输入', CAST(0x0000A82400AC4747 AS DateTime), 1)
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId]) VALUES (2, CAST(0x0000A82400AC4DBA AS DateTime), N'admin', N'超级管理员', N'Login', N'192.168.1.99', N'局域网 对方和您在同一内部网', 1, N'系统登录', 1, N'登录成功', CAST(0x0000A82400AC4DD6 AS DateTime), 1)
INSERT [dbo].[Sys_Log] ([F_Id], [F_Date], [F_Account], [F_NickName], [F_Type], [F_IPAddress], [F_IPAddressName], [F_ModuleId], [F_ModuleName], [F_Result], [F_Description], [F_CreatorTime], [F_CreatorUserId]) VALUES (3, CAST(0x0000A82400B1CF2B AS DateTime), N'admin', N'超级管理员', N'Login', N'192.168.1.99', N'局域网 对方和您在同一内部网', 1, N'系统登录', 1, N'登录成功', CAST(0x0000A82400B1CF4D AS DateTime), 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Sys_Log] OFF
/****** Object:  Table [dbo].[Sys_ItemsDetail]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_ItemsDetail](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ItemId] [bigint] NULL,
	[F_ParentId] [bigint] NULL,
	[F_ItemCode] [nvarchar](50) NULL,
	[F_ItemName] [nvarchar](50) NULL,
	[F_SimpleSpelling] [nvarchar](50) NULL,
	[F_IsDefault] [bit] NULL,
	[F_Layers] [int] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_ItemsDetail] ON
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (1, 5, NULL, N'4', N'护照', NULL, 0, NULL, 4, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (2, 11, NULL, N'2', N'业务角色', NULL, 0, NULL, 2, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_ItemsDetail] ([F_Id], [F_ItemId], [F_ParentId], [F_ItemCode], [F_ItemName], [F_SimpleSpelling], [F_IsDefault], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (3, 2, NULL, N'1', N'小学', NULL, 0, NULL, 1, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sys_ItemsDetail] OFF
/****** Object:  Table [dbo].[Sys_Items]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Items](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ParentId] [bigint] NULL,
	[F_EnCode] [nvarchar](50) NULL,
	[F_FullName] [nvarchar](50) NULL,
	[F_IsTree] [bit] NULL,
	[F_Layers] [int] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_Items] ON
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (2, 1, N'Education', N'学历', 0, 2, 8, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (3, 1, N'DbType', N'数据库类型', 0, 2, 4, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Items] ([F_Id], [F_ParentId], [F_EnCode], [F_FullName], [F_IsTree], [F_Layers], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (4, 1, N'103', N'民族', 0, 2, 14, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sys_Items] OFF
/****** Object:  Table [dbo].[Sys_FilterIP]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_FilterIP](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_Type] [bit] NULL,
	[F_StartIP] [nvarchar](50) NULL,
	[F_EndIP] [nvarchar](50) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_FilterIP] ON
INSERT [dbo].[Sys_FilterIP] ([F_Id], [F_Type], [F_StartIP], [F_EndIP], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (1, 1, N'192.168.1.1', N'192.168.1.10', NULL, NULL, 1, N'测试', CAST(0x0000A6470126303F AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_FilterIP] ([F_Id], [F_Type], [F_StartIP], [F_EndIP], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (2, 0, N'192.168.0.20', N'192.168.0.25', NULL, NULL, 1, NULL, CAST(0x0000A6470126A63E AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sys_FilterIP] OFF
/****** Object:  Table [dbo].[Sys_DbBackup]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_DbBackup](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_BackupType] [nvarchar](50) NULL,
	[F_DbName] [nvarchar](50) NULL,
	[F_FileName] [nvarchar](50) NULL,
	[F_FileSize] [nvarchar](50) NULL,
	[F_FilePath] [nvarchar](500) NULL,
	[F_BackupTime] [datetime] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sys_DbBackup] ON
INSERT [dbo].[Sys_DbBackup] ([F_Id], [F_BackupType], [F_DbName], [F_FileName], [F_FileSize], [F_FilePath], [F_BackupTime], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (1, N'1', N'NFineBase', N'201607190929504502.bak', N'2.81 MB', N'/Resource/DbBackup/201607190929504502.bak', CAST(0x0000A648009C85B1 AS DateTime), NULL, NULL, 1, NULL, CAST(0x0000A648009C85E8 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_DbBackup] ([F_Id], [F_BackupType], [F_DbName], [F_FileName], [F_FileSize], [F_FilePath], [F_BackupTime], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (2, N'1', N'NFineBase', N'201607181640402083.bak', N'2.81 MB', N'/Resource/DbBackup/201607181640402083.bak', CAST(0x0000A6470112D98C AS DateTime), NULL, NULL, 1, NULL, CAST(0x0000A6470112D9B5 AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Sys_DbBackup] OFF
/****** Object:  Table [dbo].[Sys_Area]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Area](
	[F_Id] [bigint] NOT NULL,
	[F_ParentId] [bigint] NULL,
	[F_Layers] [int] NULL,
	[F_EnCode] [nvarchar](50) NULL,
	[F_FullName] [nvarchar](50) NULL,
	[F_SimpleSpelling] [nvarchar](50) NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnabledMark] [bit] NULL,
	[F_Description] [nvarchar](max) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (110000, 0, 1, N'110000', N'北京', N'bj', 110000, NULL, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (110100, 110000, 2, N'110100', N'北京市', N'bjs', 110100, NULL, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Area] ([F_Id], [F_ParentId], [F_Layers], [F_EnCode], [F_FullName], [F_SimpleSpelling], [F_SortCode], [F_DeleteMark], [F_EnabledMark], [F_Description], [F_CreatorTime], [F_CreatorUserId], [F_LastModifyTime], [F_LastModifyUserId], [F_DeleteTime], [F_DeleteUserId]) VALUES (120000, 0, 1, N'120000', N'天津', N'tj', 120000, NULL, 1, NULL, CAST(0x0000A64900000000 AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[Bus_Products]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Products](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ProductName] [nvarchar](100) NULL,
	[F_IsHot] [bit] NULL,
	[F_ProductImg] [nvarchar](220) NULL,
	[F_Explain] [nvarchar](1000) NULL,
	[F_Rule] [text] NULL,
	[F_SortCode] [int] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnableMark] [bit] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL,
	[F_Remark] [nvarchar](500) NULL,
 CONSTRAINT [PK_Bus_Products] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Images]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Images](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_Category] [int] NULL,
	[F_FId] [nvarchar](128) NULL,
	[F_Thumb] [nvarchar](200) NULL,
	[F_Img] [nvarchar](200) NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
 CONSTRAINT [PK_Bus_Images] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bus_Articles]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus_Articles](
	[F_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[F_ArticleTitle] [nvarchar](200) NULL,
	[F_ArticleType] [int] NULL,
	[F_PublishTime] [datetime] NULL,
	[F_ArticleContent] [text] NULL,
	[F_SortCode] [int] NULL,
	[F_IsHot] [bit] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_EnableMark] [bit] NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_CreatorUserId] [bigint] NULL,
	[F_LastModifyTime] [datetime] NULL,
	[F_LastModifyUserId] [bigint] NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_DeleteUserId] [bigint] NULL,
 CONSTRAINT [PK_Bus_Articles] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bus_Articles] ON
SET IDENTITY_INSERT [dbo].[Bus_Articles] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/25/2017 15:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Bus_Products_F_IsHot]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_IsHot]  DEFAULT ((0)) FOR [F_IsHot]
GO
/****** Object:  Default [DF_Bus_Products_F_DeleteMark]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_DeleteMark]  DEFAULT ((0)) FOR [F_DeleteMark]
GO
/****** Object:  Default [DF_Bus_Products_F_EnableMark]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_EnableMark]  DEFAULT ((1)) FOR [F_EnableMark]
GO
/****** Object:  Default [DF_Bus_Products_F_CreateTime]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Products] ADD  CONSTRAINT [DF_Bus_Products_F_CreateTime]  DEFAULT (getdate()) FOR [F_CreatorTime]
GO
/****** Object:  Default [DF_Bus_Images_F_CreateTime]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Images] ADD  CONSTRAINT [DF_Bus_Images_F_CreateTime]  DEFAULT (getdate()) FOR [F_CreatorTime]
GO
/****** Object:  Default [DF_Table_1_F_PublishDate]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Table_1_F_PublishDate]  DEFAULT (getdate()) FOR [F_PublishTime]
GO
/****** Object:  Default [DF_Bus_Articles_F_IsHot]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_IsHot]  DEFAULT ((0)) FOR [F_IsHot]
GO
/****** Object:  Default [DF_Bus_Articles_F_DeleteMark]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_DeleteMark]  DEFAULT ((0)) FOR [F_DeleteMark]
GO
/****** Object:  Default [DF_Bus_Articles_F_EnableMark]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_EnableMark]  DEFAULT ((1)) FOR [F_EnableMark]
GO
/****** Object:  Default [DF_Bus_Articles_F_CreateTime]    Script Date: 11/25/2017 15:06:41 ******/
ALTER TABLE [dbo].[Bus_Articles] ADD  CONSTRAINT [DF_Bus_Articles_F_CreateTime]  DEFAULT (getdate()) FOR [F_CreatorTime]
GO
