
@{
    ViewBag.Title = "UserGameGold";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function() {
        gridList();
        initControl();
    });

    function gridList() {
        var $gridList = $("#gridList");

        $gridList.dataGrid({
            url: "/DataAnalysis/GoldStatistics/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'AccountId', hidden: true },
                { label: '标识', name: 'AccountId', width: 60, align: 'center' },
                {
                    label: '用户帐号', name: 'Account', width: 100, align: 'left',
                    formatter: function (cellvalue) {
                        return "<a href='#' onclick='btn_details(\"" + cellvalue + "\")'>" + cellvalue + "</a>";
                    }
                },
                {
                    label: '用户输赢', name: 'WinGold', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowdata, action) {
                        return "<a href='#' onclick='GoldDetails(\"" + rowdata.AccountId + "\")'>" +format_number(cellvalue) + "</a>";
                    }
                }
            ],
            rowNum: -1,
            footerrow: true,
            sortname: 'ID desc',
            viewrecords: true
        });
        $("#btn_search").click(function() {
            $gridList.jqGrid('setGridParam',
                {
                    postData: { keyword: $("#txt_keyword").val(), begintime: $("#txt_begintime").val(), endtime: $("#txt_endtime").val(),usertype:$("#drop_usertype").val() },
                }).trigger('reloadGrid');
        });
    }

    function initControl() {
        $("#drop_gamename").bindSelect({
            url: "/SystemConfig/GameAi/GetGameList",
            id: "F_Id",
            text: "GameName"
        });
    }
    function btn_details(account) {
        $.modalOpen({
            id: "DisableUser",
            title: '用户信息',
            url: '/UserManage/User/Details?keyValue=' + account + "&account=" + escape(account),
            width: "600px",
            height: "460px",
            btn: null
        });
    }

    function format_number(n){
        var b=parseInt(n).toString();
        var len=b.length;
        if(len<=4){return b;}
        var r=len%4;
        return r>0?b.slice(0,r)+","+b.slice(r,len).match(/\d{4}/g).join(","):b.slice(r,len).match(/-\d{3}|\d{4}/g).join(",");
    }

    function GoldDetails(account) {
        var queryJson={
         keyword : $("#drop_gamename").val(),
         begintime : $("#txt_begintime").val(),
         engtime : $("#txt_endtime").val(),
         account : account
        }

        $.modalOpen({
            id: "DayDetails",
            title: '游戏输赢信息',
            url: '/DataAnalysis/GoldStatistics/GoldDetails?keyword=' +
                $("#drop_gamename").val() +
                '&begintime=' +
                $("#txt_begintime").val() +
                '&engtime=' +
                $("#txt_endtime").val() +
                '&account=' +
                account,
            width: "800px",
            height: "660px",
            btn: null
        });
//        $.ajax({
//            url: "/UserManage/User/GetFormJson",
//            data: { queryJson: JSON.stringify(queryJson) },
//            dataType: "json",
//            async: false,
//            success: function (data) {
//                $("#form1").formSerialize(data);
//                $("#AccountNum").val(data.F_ID + "(游戏ID:" + data.AccountNum + ")");
//                if (data.UnfreezeDate) {
//                    $("#F_EnabledMark").val("false");
//                }
//                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
//                $("#form1").find('div.ckbox label').attr('for', '');
//                $("#F_UserPassword").val("******");
//            }
//        });
    }

</script>



<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>时间：</td>
                <td>
                    <div class="input-group">
                        <input id="txt_begintime" type="text" class="form-control" onclick="WdatePicker()" placeholder="开始时间" style="width: 160px; border-radius: 5px;">-
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input id="txt_endtime" type="text" class="form-control" onclick="WdatePicker()" placeholder="结束时间" style="width: 160px; border-radius: 5px;">
                    </div>
                </td>
                <td style="padding-left: 5px;">用户类型：</td>
                <td>
                    <div class="input-group">
                        <select id="drop_usertype" name="drop_usertype" class="form-control" style="width: 120px; border-radius: 5px;">
                            <option value="0">==请选择==</option>
                            <option value="1">真实用户</option>
                            <option value="2">机器人</option>
                        </select>
                    </div>
                </td>
                <td style="padding-left: 5px;">游戏名称：</td>
                <td>
                    <div class="input-group">
                        <select id="drop_gamename" name="drop_gamename" class="form-control required">
                            <option value="0">==请选择==</option>
                        </select>
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary" style="margin-left: 8px;"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
                
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

