@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "棋牌-斗地主，麻将，斗牛，棋牌游戏平台";
}
<!--轮播-->
<div class="wrap clearfix">
    <div class="active-banner">
        <div class="ad-big-img">
            <a href="###"><img src="~/Content/Img/temp/ad1.jpg"></a>
        </div>
        <ul class="ad-small-img">
            <li>
                <a href="###"><img src="~/Content/Img/temp/ad2.jpg"></a>
            </li>
            <li>
                <a href="###"><img src="~/Content/Img/temp/ad3.jpg"></a>
            </li>
            <li>
                <a href="###"><img src="~/Content/Img/temp/ad4.jpg"></a>
            </li>
        </ul>
    </div>
    <div class="top-game-section fr">
        <div class="g-section-hd"><span>游戏中心</span></div>
        <div class="g-down">
            <span class="g-down-erweima">
                <span class="code"><img src="~/Content/Img/temp/code.png"></span>
                <p>扫描二维码</p>
            </span>
            <div class="g-down-lnk">
                <a href="download.html" class="down-lnk-fast" title="经典版下载"><i></i>简洁版下载</a>
                <a href="download.html" class="down-lnk-web" title="豪华版下载"><i></i>完整版下载</a>
            </div>
        </div>
        <div class="g-service-hd"></div>
        <div class="g-service-txt">
            热线电话： 400-800-8888
            <br> 在线咨询： QQ：973645180
            <a target="_blank" href="http://wpa.qq.com/msgrd?Menu=no&amp;Exe=QQ&amp;uin=1234567" title="联系游戏客服" rel="nofollow"></a>
            <br> 邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱： bd@youxi.com
        </div>
    </div>
</div>
<!--/轮播-->
<!--快捷入口 热门游戏 新闻公告-->
<div class="section wrap clearfix">
    <div class="home-event">
        <div class="hd clearfix">
            <h3><i class="icon-title icon-event"></i>快捷入口</h3>
        </div>
        <ul class="focus_half">
            <li>
                <a href="/Recharge" title="充值"><img width="315" height="172" src="~/Content/Img/recharge.jpg" alt="会员充值大放送"></a>
            </li>
            <li>
                <a href="help.html" title="新手指南"><img width="315" height="172" src="~/Content/Img/guide.jpg" alt="新手指南"></a>
            </li>
        </ul>
    </div>
    <div class="home-app">
        <div class="hd clearfix">
            <h3><i class="icon-title icon-app"></i>热门游戏<a href="/Game" target="_blank" class="tit_more">更多<i></i></a></h3>
        </div>
        <div class="bd clearfix">
            <ul id="GameList">
                
            </ul>
        </div>
    </div>
    <div class="txt_news">
        <div class="hd clearfix">
            <h3><i class="icon-title icon-news"></i>新闻公告<a href="/News" target="_blank" class="tit_more">更多<i></i></a></h3>
        </div>
        <div class="bd">
            <div class="headline">
                <a href="/download" target="_blank">首款棋牌大厅 强势来袭</a>
            </div>
            <div class="txt_news_list">
                <ul id="NewList">
                </ul>
            </div>
        </div>
    </div>

</div>
<!--/快捷入口 热门游戏 新闻公告-->
<!--精品游戏-->
<div class="wrap mt20">
    <div class="live_game">
        <div class="hd">
            <h3>
                <i class="icon-title icon-webgame"></i>精品游戏
                <a href="game.html" class="tit_more">更多<i></i></a>
            </h3>
        </div>
        <div class="bd">
            <ul class="h_gamelive_list">
                <li>
                    <a class="video_info" href="showgame.html"><img src="~/Content/Img/temp/temp1.jpg"></a>
                    <div class="webgame-sub">
                        <a class="webgame_name" href="showgame.html" target="_blank">欢乐斗地主</a>
                        <span class="webgame-txt">98区即将开启！万人热血PK!</span>
                    </div>
                </li>
                <li>
                    <a class="video_info" href="showgame.html"><img src="~/Content/Img/temp/temp2.jpg"></a>
                    <div class="webgame-sub">
                        <a class="webgame_name" href="showgame.html" target="_blank">血战麻将</a>
                        <span class="webgame-txt">68区即将开启！万人热血PK!</span>
                    </div>
                </li>
                <li>
                    <a class="video_info" href="showgame.html"><img src="~/Content/Img/temp/temp3.jpg"></a>
                    <div class="webgame-sub">
                        <a class="webgame_name" href="showgame.html" target="_blank">德州扑克</a>
                        <span class="webgame-txt">68区即将开启！万人热血PK!</span>
                    </div>
                </li>
                <li>
                    <a class="video_info" href="showgame.html"><img src="~/Content/Img/temp/temp4.jpg"></a>
                    <div class="webgame-sub">
                        <a class="webgame_name" href="showgame.html" target="_blank">愤怒的渔夫</a>
                        <span class="webgame-txt">68区即将开启！万人热血PK!</span>
                    </div>
                </li>
                <li>
                    <a class="video_info" href="showgame.html"><img src="~/Content/Img/temp/temp5.jpg"></a>
                    <div class="webgame-sub">
                        <a class="webgame_name" href="showgame.html" target="_blank">超级小丑</a>
                        <span class="webgame-txt">68区即将开启！万人热血PK!</span>
                    </div>
                </li>
                <li>
                    <a class="video_info" href="showgame.html"><img src="~/Content/Img/temp/temp6.jpg"></a>
                    <div class="webgame-sub">
                        <a class="webgame_name" href="showgame.html" target="_blank">连线英雄</a>
                        <span class="webgame-txt">68区即将开启！万人热血PK!</span>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/精品游戏-->

<script>
    $(function() {
        GetList();
    });

    function GetList() {
        var keyValue = 0;
        $.ajax({
            url: "/News/GetHomeNews",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                var _html = "";
                $.each(data, function (i, o) {
                    var type = o.F_ArticleType == 1 ? "新闻" : "公告";
                    _html += '<li>';
                    _html += '<a href="/News/News?keyValue=' + o.F_Id + '" target="_blank">[ ' + type + ' ]' + o.F_ArticleTitle + '</a>';
                    _html += '</li>';
                });
                $("#NewList").prepend(_html);
            },
            error: function (msg) {
                alert(msg.statusText);
            }
        });
        $.ajax({
            url: "/Game/GetHotList",
            data: { keyValue: 0 },
            dataType: "json",
            async: false,
            success: function (data) {
                var _html = "";
                $.each(data, function (i, o) {
                    _html += '<li>';
                    _html += '  <a href="/Game/Game?keyValue=' + o.F_Id + '" title="' + o.F_ProductName + '" class="app-icons">';
                    _html += '    <img src="http://183.131.69.236:11010'+o.F_IcoImg+'" alt="">';
                    _html += '    <h4>' + o.F_ProductName + '</h4>';
                    _html += '  </a>';
                    _html += '</li>';
                });
                $("#GameList").prepend(_html);
            },
            error: function (msg) {
                alert(msg.statusText);
            }
        });
    }

</script>