
@{
    ViewBag.Title = "游戏中心-棋牌-斗地主,麻将,牛牛,棋牌游戏平台";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}
<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>游戏中心</h3>
    </div>
    <div class="game-app clearfix">
        <ul id="GameList">
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game-img.jpg" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game1.png" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game2.png" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game3.png" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game4.png" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game5.png" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game6.png" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
            <li>
                <a href="showgame.html" title="" class="app-icons">
                    <img src="/Content/Img/temp/game7.png" alt="">
                    <h4>斗地主</h4>
                </a>
            </li>
        </ul>
    </div>


</div>
<script>
    $(function() {
        GetList();
    });

    function GetList() {
        var keyValue = 0;
        $.ajax({
            url: "/Game/GetListJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                var _html = "";
                $.each(data, function (i, o) {
                    _html += '<li>';
                    _html += '  <a href="/Game/Game?keyValue=' + o.F_Id + '" title="' + o.F_ProductName + '" class="app-icons">';
                    _html += '    <img src="http://115.238.87.114:11010'+o.F_IcoImg+'" alt="">';
                    _html += '    <h4>' + o.F_ProductName + '</h4>';
                    _html += '  </a>';
                    _html += '</li>';
                });
                $("#GameList").prepend(_html);
            },
            error: function (msg) {
                alert(msg.statusText);
            }
        });
    }

</script>

