
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/SystemConfig/TimeAi/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">房间ID</th>
                <td class="formValue">
                    <input id="roomid" name="roomid" type="text" class="form-control required" placeholder="房间ID" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">房间名称</th>
                <td class="formValue">
                    <input id="roomname" name="roomname" type="text" class="form-control required" placeholder="房间名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">配置文本</th>
                <td class="formValue">
                    <input id="TimeText" name="TimeText" type="text" class="form-control required" placeholder="配置文本" />
                </td>
            </tr>
        </table>
    </div>
</form>

