
@{
    ViewBag.Title = "RevisePassword";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">账户</th>
                <td class="formValue">
                    <input id="F_Account" name="F_Account" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="F_RealName" name="F_RealName" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">密码</th>
                <td class="formValue">
                    <input id="F_UserPassword" name="F_UserPassword" type="password" class="form-control required" placeholder="请输入新密码" />
                </td>
            </tr>
        </table>
    </div>
</form>

