
@{
    ViewBag.Title = "ModifyUserGold";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">账户</th>
                <td class="formValue">
                    <input id="F_Account" name="F_Account" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">金币</th>
                <td class="formValue">
                    <input id="F_RealName" name="F_RealName" readonly type="text" class="form-control" placeholder="需要添加的金币数量(可以为负数)" />
                </td>
            </tr>
        </table>
    </div>
</form>

