
@{
    ViewBag.Title = "充值中心-棋牌-斗地主,麻将,牛牛,棋牌游戏平台";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>充值</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="recharge_list">
        <ul>
            <li class="current">
                <a href="javascript:;" onclick="ShowPayType('ZHIFUBAO')"><em class="icon01"></em><i>支付宝支付(扫码)</i></a>
            </li>
            <li>
                <a href="javascript:;" onclick="ShowPayType('WEIXIN')"><em class="icon02"></em><i>微信支付(扫码)</i></a>
            </li>
            <li>
                <a href="javascript:;" onclick="ShowPayType('WANGYIN')"><em class="icon03"></em><i>网上银行</i></a>
            </li>
            <li>
                <a href="javascript:;" onclick="ShowPayType('DIANKA')"><em class="icon04"></em><i>游戏点卡</i></a>
            </li>
            <li>
                <a href="javascript:;" onclick="ShowPayType('SHOJICHONGZHIKA')"><em class="icon05"></em><i>手机充值卡</i></a>
            </li>
        </ul>
    </div>
    <div id="pay_right" class="pay_right">
        
        <table class="paymentTable">
            <tbody>
            <tr>
                <th align="right" width="110" style="height: 45px; line-height: 45px;">充值ID：</th>
                <td id="pay_center_input" style="height: 45px; line-height: 45px;">
                    <input id="userName" name="userName" type="text" class="input" style="margin-top: 5px;">
                    <button type="button" class="sure_btn" onclick="checkuser();">确认</button>
                    <span style="color: red">*请确认游戏ID</span>
                    <p class="uaccount" style="color: red; font-weight: bold;">*充值ID即游戏ID</p>
                </td>
            </tr>
            <tr>
                <th align="right" width="110" style="padding-top: 9px;">
                    充值类型：
                </th>
                <td>
                    <div class="pruneShow">
                        <div class="simRadio">
                            <ul class="bankSelect clearfix">
                                <li class="ZHIFUBAO select"><span data-value="1001">支付宝</span></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th align="right" width="110" style="padding-top: 12px;">
                    <div>
                        充值金额：
                    </div>
                </th>
                <td>
                    <div id="amountList" class="simRadio">
                        <ul id="amountList_child" class="recharge clearfix">
                            <li onclick="ShowPayVal('10.00');"><span data-value="10" class="unChoose select">10元</span></li>
                            <li onclick="ShowPayVal('20.00');"><span data-value="20" class="unChoose">20元</span></li>
                            <li onclick="ShowPayVal('30.00');"><span data-value="30" class="unChoose">30元</span></li>
                            <li onclick="ShowPayVal('50.00');"><span data-value="50" class="unChoose">50元</span></li>
                            <li onclick="ShowPayVal('100.00');"><span data-value="100" class="unChoose">100元</span></li>
                            <li onclick="ShowPayVal('200.00');"><span data-value="200" class="unChoose">200元</span></li>
                            <li onclick="ShowPayVal('500.00');"><span data-value="500" class="unChoose">500元</span></li>
                            <li onclick="ShowPayVal('1000.00');"><span data-value="1000" class="unChoose">1000元</span></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th align="right" width="110" style="padding-top: 10px;">
                    总计需支付：
                </th>
                <td>
                    <em class="amount" id="pay_center_submit_amount">￥10.00</em>元 获赠<em class="amount" id="pay_center_submit_getjb">10</em>元宝
                </td>
            </tr>
            <tr>
                <th align="right" width="110" style="padding-top: 10px;">图片验证码：</th>
                <td>
                    <input id="vcode" name="vcode" type="text" class="input">&nbsp;
                    <input type="hidden" id="checktoken" value="@ViewBag.Token"/>
                    <img id="imgcode" src="/Recharge/GetAuthCode?token=@ViewBag.Token" style="height: 32px; cursor: pointer; border: 1px solid #333333; vertical-align: middle;" title="点击更换验证码图片!">
                    <a href="javascript:void(0)" class="ll" id="switchCode">看不清楚？ 换一个</a>
                </td>
            </tr>
            <tr>
                <th align="right" width="110" style="padding-top: 10px;"></th>
                <td>
                    <input type="submit" class="confirm_btn" value="下一步">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="recharge_tip">
            <p>
                <b>支付宝支付说明：</b>
            </p>
            1、您必须拥有支付宝账户；
            <br> 2、请您仔细填写准确的充值ID（即游戏ID），确保游戏ID和账号准确无误再点击“下一步”，如因玩家输入错误而导致的任何损失由用户自行承担。
            <br> 3、请充值时务必确认好您的充值金额准确无误后再进行充值，避免输错金额导致的失误，如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。
        </div>
    </div>
</div>
<script>
    $(function() {
        $(".confirm_btn").on("click", ConfirmCZ);
        $("#switchCode").click(function() {
            $("#imgcode").attr("src", "/Recharge/GetAuthCode/?token=@ViewBag.Token" + "&time=" + Math.random());
        });
    });
    function ConfirmCZ(a, b, c, d) {
        var queryJosn = {
            userName: $("#userName").val(),
            czType: $(".bankSelect li").filter(".select").text(),
            yzm: $("#vcode").val(),
            token: $("#checktoken").val(),
            amount: $(".recharge span").filter(".select").attr("data-value"),
    };
        $.ajax({
            url: "/Recharge/ChongzhiYB",
            type: "POST",
            data: { queryJson: JSON.stringify(queryJosn) },
            dataType: "json",
            async: false,
            success: function(data) {
                if (data.state == "success") {
                    $.modalMsg(data.message, data.state);
                    $("#userName").val("");
                    $("#vcode").val("");
                    $("#switchCode").click();
                } else {
                    $.modalMsg(data.message, data.state);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.modalMsg(errorThrown, "error");
            }
        });

    }
    function checkuser() {
        var keyValue = $("#userName").val();
        $.ajax({
            url: "/Recharge/CheckUser",
            data: { keyValue: keyValue },
            async: false,
            success: function(data) {
                $(".uaccount").text(data);
            },
            error: function(msg) {
                alert(msg.statusText);
            }
        });
    }


</script>

