
@{
    ViewBag.Title = "新闻公告-棋牌-斗地主,麻将,牛牛,棋牌游戏平台";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>新闻公告</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="newsli">
        <ul>
            <li class="current"><a href="###">全部</a></li>
            <li><a href="###">热点</a></li>
            <li><a href="###">游戏新闻</a></li>
            <li><a href="###">公告</a></li>
        </ul>
    </div>
    <div class="news_list">
        <ul id="NewList">
           
        </ul>
    </div>

    <div class="game-hot">
        <h3>热门游戏</h3>
        <ul>
            <li><a href="showgame.html"><span><img src="~/Content/Img/temp/game-img.jpg"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="~/Content/Img/temp/game1.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="~/Content/Img/temp/game2.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="~/Content/Img/temp/game3.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
        </ul>
    </div>

</div>	
<script>
    $(function () {
        GetArticleList(0);
    });
    function GetArticleList(type) {
        var keyValue = 0;
        $.ajax({
            url: "/News/GetArticleEntitys",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                var _html = "";
                $.each(data, function (i,o) {
                    _html+='<li>';
                    _html += ' <a href= "/News/News?keyValue=' + o.F_Id + '" >' + o.F_ArticleTitle + '</a>';
                    _html += ' <p>' + o.F_PublishTime.split(' ')[0] + '</p>';
                    _html += '    </li >';
                });
                $("#NewList").prepend(_html);
            },
            error: function (msg) {
                alert(msg.statusText);
            }
        });
    }
</script>		

