
@{
    ViewBag.Title = "新闻公告-棋牌-斗地主,麻将,牛牛,棋牌游戏平台";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>新闻公告</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="news_inf">
        <h1 class="news_title"></h1>
        <p class="news_time"></p>
        <div class="news_content">
            
        </div>
    </div>

    <div class="game-hot">
        <h3>热门游戏</h3>
        <ul>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game-img.jpg"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game1.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game2.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game3.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
        </ul>
    </div>

</div>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/News/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $(".news_title").text(data.F_ArticleTitle);
                    $(".news_time").text(data.F_PublishTime.split(' ')[0]);
                    $(".news_content").html(data.F_ArticleContent);
                },
                error: function (msg) {
                    $(".news_title").text("文章不存在");
                    $(".news_time").text("");
                    $(".news_content").html("");
                }
            });
        }
    });
</script>

