
@{
    ViewBag.Title = "新闻公告-棋牌-斗地主,麻将,牛牛,棋牌游戏平台";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="wrap mt20">
    <div class="hd">
        <h3><i class="icon-title icon-event"></i>新闻公告</h3>
    </div>
</div>
<div class="wrap clearfix">
    <div class="news_inf">
        <h1>麻将顶级高手不外传的4个技巧，普通人学会一个就够牛了！</h1>
        <p class="news_time">2017-10-10</p>
        <div class="news_content">
            <p>麻将游戏是中国传统的棋牌游戏,玩法丰富，易学简单，现在已经是我国普通大众最常玩的娱乐了。<br />下面有麻将高手分享的两种技巧，供大家学习，能学会一个就很厉害了。<br /><br /></p>
            <p>麻将游戏是中国传统的棋牌游戏,玩法丰富，易学简单，现在已经是我国普通大众最常玩的娱乐了。<br />下面有麻将高手分享的两种技巧，供大家学习，能学会一个就很厉害了。<br /><br /></p>
            <p>麻将游戏是中国传统的棋牌游戏,玩法丰富，易学简单，现在已经是我国普通大众最常玩的娱乐了。<br />下面有麻将高手分享的两种技巧，供大家学习，能学会一个就很厉害了。<br /><br /></p>
            <p>麻将游戏是中国传统的棋牌游戏,玩法丰富，易学简单，现在已经是我国普通大众最常玩的娱乐了。<br />下面有麻将高手分享的两种技巧，供大家学习，能学会一个就很厉害了。<br /><br /></p>
            <p>麻将游戏是中国传统的棋牌游戏,玩法丰富，易学简单，现在已经是我国普通大众最常玩的娱乐了。<br />下面有麻将高手分享的两种技巧，供大家学习，能学会一个就很厉害了。<br /><br /></p>
            <p>麻将游戏是中国传统的棋牌游戏,玩法丰富，易学简单，现在已经是我国普通大众最常玩的娱乐了。<br />下面有麻将高手分享的两种技巧，供大家学习，能学会一个就很厉害了。<br /><br /></p>
        </div>
    </div>

    <div class="game-hot">
        <h3>热门游戏</h3>
        <ul>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game-img.jpg"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game1.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game2.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
            <li><a href="showgame.html"><span><img src="/Content/Img/temp/game3.png"></span><p>欢乐斗地主—地主连炸爽翻天今日奖励</p></a></li>
        </ul>
    </div>

</div>

